<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta name="viewport" content="width=device-width"/>
    <meta name="MobileOptimized" content="320"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)" name="viewport" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="telephone=no" name="format-detection" />
    <title>租房网</title>
    <link type="text/css" href="/css/mobile-main.css" rel="stylesheet" />
    <script type="text/javascript" src="/files/js/mobile/jquery.js"></script>
    <script type="text/javascript" src="/files/js/mobile/modernizr.custom.js"></script>
    <script type="text/javascript" src="/files/js/mobile/jquery.dlmenu.js"></script>
</head>
<body>
<div class="header">
    <a href="/apartment/"><div class="header_l"><img src="/img/mobile/fanhui.png" width="20" /></div></a>
    <div class="header_c">超过 300 套房源</div>
    <div id="dl-menu" class="dl-menuwrapper">
        <button id="dl-menu-button">菜单</button>
        <ul class="dl-menu">
            <li><a href="/apartment/">热门房源</a></li>
            <li><a href="/daily/">日租房源</a></li>
            <li><a href="/user/login/">用户登录</a></li>
            <!--
            <li>
                <a href="Line">租房网</a>
                <ul class="dl-submenu">
                    <li class="dl-back"><a href="#">返回上一级</a></li>
                    <li><a href="#">租房网</a></li>
                    <li><a href="#">租房网</a></li>
                    <li><a href="#">租房网</a></li>
                </ul>
            </li>
            -->
        </ul>
    </div>

    <script type="text/javascript">
        $(function(){
            $( '#dl-menu' ).dlmenu();
        });
    </script>
</div>
<div class="main01" style="padding:0 0 90px 0;">
    <div class="min_banner01"><img src="/img/mobile/img02.jpg"></div>
    <div class="order01">
        <div class="order01_top">
            <h1>
                <a href="#"><%= apartment.comunity.name %><%= apartment.apartmentType.roomType.shi %>室<%= apartment.apartmentType.roomType.ting %>厅<%= apartment.apartmentType.roomType.wei %>卫</a>
                <br>
                <span><%= apartment.apartmentType.roomType.shi %>室<%= apartment.apartmentType.roomType.ting %>厅<%= apartment.apartmentType.roomType.wei %>卫 | <%= apartment.area %>平米 </span></h1>
            <h2>￥ <%= apartment.price %></h2>
        </div>
        <div class="clear"></div>
        <div class="order01_bottom">
            <h1><a href="tel:400-668-1609">400 - 668 - 1609</a></h1>
            <h2><a href="#">看房 / 入住</a></h2>
        </div>
        <div class="clear"></div>
    </div>
    <div class="order_content">
        由梁朝伟代言的世茂滨江花园是由世茂集团投资建设的亚洲第一高楼超大型水岸豪宅区，由7栋49层至55层超高层高档公寓成，项目紧倚黄浦江东岸恢弘展开，面对繁华外滩沿江扩展近1公里，将成为浦江东岸富有时代色彩的又一标志性建筑群落。

    </div>
    <img src="/img/mobile/map.jpg" width="100%">
    <div class="order01_icon">
        <h1>配套设施</h1>
        <div class="clear"></div>
        <span><em><img src="/img/mobile/icon04.png"></em>无线WI-FI</span>
        <span><em><img src="/img/mobile/icon05.png"></em>无线WI-FI</span>
        <span><em><img src="/img/mobile/icon06.png"></em>无线WI-FI</span>
        <span><em><img src="/img/mobile/icon07.png"></em>无线WI-FI</span>
        <span><em><img src="/img/mobile/icon08.png"></em>无线WI-FI</span>

        <div class="clear"></div>
        <div class="order01_more"><a href="#">全部</a></div>
    </div>

    <div class="clear"></div>
    <div class="footer01">
        <div class="footer01_l">￥<em>26900</em> / 月</div>
        <div class="footer01_r">
            <a href="#">预约看房</a>
        </div>
    </div>
</div>
<div class="clear"></div>

</body>
</html>
