<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="no-cache"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="MobileOptimized" content="320"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)" name="viewport"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="telephone=no" name="format-detection"/>
    <title><%= apartment.comunity && apartment.comunity.name %><</title>
    <link type="text/css" href="/css/mobile-main.css" rel="stylesheet"/>
    <script type="text/javascript" src="/files/js/mobile/jquery.js"></script>
    <script type="text/javascript" src="/files/js/mobile/modernizr.custom.js"></script>
    <script type="text/javascript" src="/files/js/mobile/jquery.dlmenu.js"></script>


    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="/files/lib/swiper/css/swiper.min.css">
    <link rel="stylesheet" href="/files/lib/swiper/css/mobile.css">

</head>
<body>
<div class="header">
    <a href="javascript:void(0)" onclick="history.go(-1)">
        <div class="header_l"><img src="/img/mobile/fanhui.png" width="20"/></div>
    </a>
    <div class="header_font"><%= apartment.comunity.name %></div>
    <div id="sidebar">
        <ul>
            <li><a href="/">首页</a></li>
            <li><a href="/apartment/">热门房源</a></li>
            <li><a href="/daily/">日租房源</a></li>
            <li><a href="/delegate">委托房源</a></li>
            <% if (user) { %>
            <li><a href="/user/logout/">登出</a></li>
            <% } else { %>
            <li><a href="/user/login/">登录</a></li>
            <% } %>
        </ul>
        <div id="sidebar-btn">
            <div style="padding:3px 0 0 0">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>

    <script>
        jQuery(document).ready(function ($) {
            $('#sidebar-btn').click(function () {
                $('#sidebar').toggleClass('visible');
            });
        });
    </script>
</div>


<div class="main01" style="padding:0 0 90px 0;">

    <!-- Swiper -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <% if (apartment.imagekeys[0]) { %>
            <% apartment.imagekeys.forEach(function(val) { %>
            <div class="swiper-slide">
                <!-- Required swiper-lazy class and image source specified in data-src attribute -->
                <img data-src="http://<%= qiniuDomain %>/<%= val %>" class="swiper-lazy">
                <!-- Preloader image -->
                <div class="swiper-lazy-preloader swiper-lazy-preloader-black"></div>
            </div>
            <% }) %>
            <% }else{ %>
            <div class="swiper-slide">
                <img data-src="/img/mobile/img02.jpg" class="swiper-lazy">
                <div class="swiper-lazy-preloader swiper-lazy-preloader-black"></div>
            </div>
            <div class="swiper-slide">
                <img data-src="/img/mobile/img02.jpg" class="swiper-lazy">
                <div class="swiper-lazy-preloader swiper-lazy-preloader-black"></div>
            </div>
            <% } %>

        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination swiper-pagination-black"></div>
        <!-- Navigation -->
        <div class="swiper-button-next swiper-button-black"></div>
        <div class="swiper-button-prev swiper-button-black"></div>
    </div>
    <div class="order01">
        <div class="order01_top">
            <h1>
                <a href="#"><%= apartment.comunity.name %><%= apartment.apartmentType.roomType.shi %>
                    室<%= apartment.apartmentType.roomType.ting %>厅<%= apartment.apartmentType.roomType.wei %>卫</a>
                <br>
                <span><%= apartment.apartmentType.roomType.shi %>室<%= apartment.apartmentType.roomType.ting %>
                    厅<%= apartment.apartmentType.roomType.wei %>卫 | <%= apartment.area %>平米 </span></h1>
            <h2>￥ <%= apartment.price %></h2>
        </div>
        <div class="clear"></div>
        <div class="order01_bottom">
            <h1><a href="tel:400-668-1609">400 - 668 - 1609</a></h1>
            <h2><a href="/appointment/apartment/<%= apartment._id %>">看房 / 入住</a></h2>
        </div>
        <div class="clear"></div>
    </div>
    <div class="order_content">
        <%= apartment.comunity.desc %>
    </div>
    <div style="width:100%; height:300px" id="allmap"></div>
    <div class="order01_icon">
        <h1>配套设施</h1>
        <div class="clear"></div>
        <div class=""></div>

        <span><em class="icon" style="background-position: 0px 0px;"></em>无线WI-FI</span>
        <span><em class="icon" style="background-position: -100px 0px;"></em>全天热水</span>
        <span><em class="icon" style="background-position: -200px 0px; width:38px; "></em>电视</span>
        <span><em class="icon" style="background-position: -300px 0px;  width:62px;"></em>空调</span>
        <span><em class="icon" style="background-position: -400px 0px;width:35px;"></em>洗衣机</span>
        <span><em class="icon" style="background-position: 0px -70px;width:38px;"></em>暖气</span>
        <span><em class="icon" style="background-position: -100px -70px;"></em>电水壶</span>
        <span><em class="icon" style="background-position: -200px -70px;  "></em>毛巾</span>
        <span><em class="icon" style="background-position: -300px -70px;width:40px;  "></em>浴巾</span>
        <span><em class="icon" style="background-position: -400px -70px;"></em>牙具</span>
        <div class="all" style=" display:none;">
            <span><em class="icon" style="background-position: 0px -168px;width:20px;"></em>洗发水</span>
            <span><em class="icon" style="background-position: -100px -168px;"></em>电吹风</span>
            <span><em class="icon" style="background-position: -200px -168px;  "></em>拖鞋</span>
            <span><em class="icon" style="background-position: -300px -168px;width:40px;  "></em>电梯</span>
            <span><em class="icon" style="background-position: -400px -168px;"></em>燃气灶</span>

            <span><em class="icon" style="background-position: 0px -253px;"></em>电饭锅</span>
            <span><em class="icon" style="background-position: -100px -253px;"></em>烹饪锅</span>
            <span><em class="icon" style="background-position: -200px -253px;  "></em>餐具</span>
            <span><em class="icon" style="background-position: -300px -253px;  "></em>刀具菜板</span>
            <span><em class="icon" style="background-position: -400px -253px;"></em>洗涤用具</span>

            <span><em class="icon" style="background-position: 0px -350px;width:40px;"></em>宽带</span>
            <span><em class="icon" style="background-position: -100px -350px;width:40px;"></em>洗衣液</span>
            <span><em class="icon" style="background-position: -200px -350px; width:35px; "></em>香皂</span>
        </div>
        <div class="clear"></div>
        <div class="order01_more"><a href="javascript:zhankai();">全部</a></div>
    </div>

    <div class="clear"></div>
    <div class="footer01">
        <div class="footer01_l">￥<em>26900</em> / 月</div>
        <div class="footer01_r">
            <a href="/appointment/apartment/<%= apartment._id %>">预约看房</a>
        </div>
    </div>
</div>
<div class="clear"></div>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=hfr56zCA14KkpuRGsr2vKcV0GOG7KtH6"></script>
<script type="text/javascript" src="/files/js/baidumap.js"></script>
<script type="text/javascript">

    // 当前房源信息
    var longitude = <%= apartment.comunity.longitude %>; //当前中心点坐标
    var latitude = <%= apartment.comunity.latitude %>;
    var centerPointName = '<%= apartment.comunity.name %>';
    var centerPointAddress = '<%= apartment.comunity.address %>';


    // 百度地图API功能开始
    var map = new BMap.Map("allmap");
    var point = new BMap.Point(longitude, latitude);
    map.centerAndZoom(point, 15);

    //设置缩放控件
    //map.enableScrollWheelZoom();
    //map.enableInertialDragging();
    map.disableDragging();
    //map.enableContinuousZoom();


    //添加当前房源标注并直接显示
    var centerPoint = new BMap.Point(longitude, latitude);
    var centerContent = "地址：" + centerPointAddress;
    //添加标注以及信息窗口
    //创建特殊图标$


    addThisMaker();


</script>

<!-- Swiper JS -->
<script src="/files/lib/swiper/js/swiper.min.js"></script>

<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper('.swiper-container', {
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',

        paginationClickable: true,
        // Disable preloading of all images
        preloadImages: true,
        // Enable lazy loading
        lazyLoading: true
    });
    function zhankai() {
        $(".all").show('200');
        $(".order01_more").hide();
    }
</script>
</body>
</html>
