<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta name="viewport" content="width=device-width"/>
    <meta name="MobileOptimized" content="320"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)" name="viewport" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="telephone=no" name="format-detection" />
    <title>租房网</title>
    <link type="text/css" href="/css/mobile-main.css" rel="stylesheet" />
    <script type="text/javascript" src="/files/js/mobile/jquery.js"></script>
    <script type="text/javascript" src="/files/js/mobile/modernizr.custom.js"></script>
    <script type="text/javascript" src="/files/js/mobile/jquery.dlmenu.js"></script>

   
<!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="/files/lib/swiper/css/swiper.min.css">
<link rel="stylesheet" href="/files/lib/swiper/css/mobile.css">
   
</head>
<body>
<div class="header">
    <a href="javascript:void(0)" onclick="history.go(-1)"><div class="header_l"><img src="/img/mobile/fanhui.png" width="20" /></div></a>
    <div class="header_font"><%= apartment.comunity.name %></div>
    <div id="dl-menu" class="dl-menuwrapper">
        <button id="dl-menu-button">菜单</button>
        <ul class="dl-menu">
            <li><a href="/apartment/">热门房源</a></li>
            <li><a href="/daily/">日租房源</a></li>
            <li><a href="/user/login/">用户登录</a></li>
           
        </ul>
    </div>

    <script type="text/javascript">
        $(function(){
            $( '#dl-menu' ).dlmenu();
        });
    </script>
</div>



<div class="main01" style="padding:0 0 90px 0;">
   
 <!-- Swiper -->
<div class="swiper-container">
    <div class="swiper-wrapper">
         <% if (apartment.imagekeys[0]) { %>
        <% apartment.imagekeys.forEach(function(val) { %>
        <div class="swiper-slide">
            <!-- Required swiper-lazy class and image source specified in data-src attribute -->
            <img data-src="http://o7k9opgtr.bkt.clouddn.com/<%= val %>" class="swiper-lazy">
            <!-- Preloader image -->
            <div class="swiper-lazy-preloader swiper-lazy-preloader-black"></div>
        </div>
         <% }) %>
        <% }else{ %>
        <div class="swiper-slide">
            <img data-src="/img/mobile/img02.jpg" class="swiper-lazy">
            <div class="swiper-lazy-preloader swiper-lazy-preloader-black"></div>
        </div>
        <div class="swiper-slide">
            <img data-src="/img/mobile/img02.jpg" class="swiper-lazy">
            <div class="swiper-lazy-preloader swiper-lazy-preloader-black"></div>
        </div>
        <% } %>

    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination swiper-pagination-black"></div>
    <!-- Navigation -->
    <div class="swiper-button-next swiper-button-black"></div>
    <div class="swiper-button-prev swiper-button-black"></div>
</div>
    <div class="order01">
        <div class="order01_top">
            <h1>
                <a href="#"><%= apartment.comunity.name %><%= apartment.apartmentType.roomType.shi %>室<%= apartment.apartmentType.roomType.ting %>厅<%= apartment.apartmentType.roomType.wei %>卫</a>
                <br>
                <span><%= apartment.apartmentType.roomType.shi %>室<%= apartment.apartmentType.roomType.ting %>厅<%= apartment.apartmentType.roomType.wei %>卫 | <%= apartment.area %>平米 </span></h1>
            <h2>￥ <%= apartment.price %></h2>
        </div>
        <div class="clear"></div>
        <div class="order01_bottom">
            <h1><a href="tel:400-668-1609">400 - 668 - 1609</a></h1>
            <h2><a href="/appointment/apartment/<%= apartment._id %>">看房 / 入住</a></h2>
        </div>
        <div class="clear"></div>
    </div>
    <div class="order_content">
       <%= apartment.comunity.desc %>
    </div>
    <div style="width:100%; height:300px" id="allmap"></div>
    <div class="order01_icon">
        <h1>配套设施</h1>
        <div class="clear"></div>
        <span><em><img src="/img/mobile/icon04.png"></em>无线WI-FI</span>
        <span><em><img src="/img/mobile/icon05.png"></em>无线WI-FI</span>
        <span><em><img src="/img/mobile/icon06.png"></em>无线WI-FI</span>
        <span><em><img src="/img/mobile/icon07.png"></em>无线WI-FI</span>
        <span><em><img src="/img/mobile/icon08.png"></em>无线WI-FI</span>

        <div class="clear"></div>
        <div class="order01_more"><a href="#">全部</a></div>
    </div>

    <div class="clear"></div>
    <div class="footer01">
        <div class="footer01_l">￥<em>26900</em> / 月</div>
        <div class="footer01_r">
            <a href="/appointment/apartment/<%= apartment._id %>">预约看房</a>
        </div>
    </div>
</div>
<div class="clear"></div>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=hfr56zCA14KkpuRGsr2vKcV0GOG7KtH6"></script>
<script type="text/javascript" src="/files/js/baidumap.js"></script>
<script type="text/javascript">

// 当前房源信息
var longitude = <%= apartment.comunity.longitude %>; //当前中心点坐标
var latitude = <%= apartment.comunity.latitude %>;
var centerPointName = '<%= apartment.comunity.name %>';
var centerPointAddress = '<%= apartment.comunity.address %>';


// 百度地图API功能开始
var map = new BMap.Map("allmap");
var point = new BMap.Point(longitude, latitude);
map.centerAndZoom(point, 15);

//设置缩放控件
//map.enableScrollWheelZoom();
//map.enableInertialDragging();

//map.enableContinuousZoom();



//添加当前房源标注并直接显示
var centerPoint = new BMap.Point(longitude,latitude);
var centerContent = "地址："+centerPointAddress;
//添加标注以及信息窗口
//创建特殊图标$




			
addThisMaker();


</script>

<!-- Swiper JS -->
    <script src="/files/lib/swiper/js/swiper.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
    var swiper = new Swiper('.swiper-container', {
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
    
        paginationClickable: true,
        // Disable preloading of all images
        preloadImages: true,
        // Enable lazy loading
        lazyLoading: true
    });
    </script>
</body>
</html>
