<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta name="viewport" content="width=device-width"/>
    <meta name="MobileOptimized" content="320"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)" name="viewport" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="telephone=no" name="format-detection" />
    <title>源涞国际</title>
    <link type="text/css" href="/css/mobile-main.css" rel="stylesheet" />
    <script type="text/javascript" src="/files/js/mobile/jquery.js"></script>
    <script type="text/javascript" src="/files/js/mobile/modernizr.custom.js"></script>
    <script type="text/javascript" src="/files/js/mobile/jquery.dlmenu.js"></script>
</head>
<body>
<div class="header">
    <a href="#"><div class="header_l"><img src="/img/mobile/fanhui.png" width="20" /></div></a>
    <div class="header_font">超过 300 套房源</div>
    <div id="dl-menu" class="dl-menuwrapper">
        <button id="dl-menu-button">Open Menu</button>
        <ul class="dl-menu">
            <li><a href="/apartment/">热门房源</a></li>
            <li><a href="/daily/">日租房源</a></li>
            <li><a href="/user/login/">用户登录</a></li>
        </ul>
    </div>

    <script type="text/javascript">
        $(function(){
            $( '#dl-menu' ).dlmenu();
        });
    </script>
</div>
<div class="main01">

    <% result.docs.forEach(function(val) { %>
        <div class="fangyuan_pic">
            <a href="/daily/<%= val.id %>">
                <img
                    <% if (val.imagekeys[0]) { %>
                        src="http://o7k9opgtr.bkt.clouddn.com/<%= val.imagekeys[0] %>"
                    <% }else{ %>
                        src="/img/mobile/img02.jpg"
                    <% } %>
                />
            </a>
            <div class="fangyuan_pic01">
                <h1><a href="/daily/<%= val.id %>">【<%= val.comunity.name %>】<%= val.name %></a></h1>
                <h2><p>2室1厅1卫 | 96平米 </p><span>￥<em> <%= val.price %></em> / 天</span></h2>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    <% }) %>
     <div class="page01">
            <a href="#">上一页</a>
            <a href="#" id="page_hover">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">下一页</a>
         </div>
    <div class="clear"></div>
</div>
<div class="clear"></div>
</body>
</html>
