<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta name="viewport" content="width=device-width"/>
    <meta name="MobileOptimized" content="320"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)" name="viewport" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="telephone=no" name="format-detection" />
    <title>源涞国际</title>
    <link type="text/css" href="/css/mobile-main.css" rel="stylesheet" />
    <script type="text/javascript" src="/files/js/mobile/jquery.js"></script>
    <script type="text/javascript" src="/files/js/mobile/modernizr.custom.js"></script>
    <script type="text/javascript" src="/files/js/mobile/jquery.dlmenu.js"></script>

    <script type="text/javascript" src="/files/js/mobile/jquery.bxslider.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
          $('.slider6').bxSlider({
            mode: 'fade',
            slideMargin: 10
          });
        });
    </script>
</head>
<body>
<div class="header">
    <a href="javascript:void(0)" onclick="history.go(-1)"><div class="header_l"><img src="/img/mobile/fanhui.png" width="20" /></div></a>
    <div class="header_font"><%= daily.comunity.name %></div>
    <div id="dl-menu" class="dl-menuwrapper">
        <button id="dl-menu-button">Open Menu</button>
        <ul class="dl-menu">
            <li><a href="/apartment/">热门房源</a></li>
            <li><a href="/daily/">日租房源</a></li>
            <li><a href="/user/login/">用户登录</a></li>
        </ul>
    </div>

    <script type="text/javascript">
        $(function(){
            $( '#dl-menu' ).dlmenu();
        });
    </script>
</div>
<div class="main01" style="padding:0 0 90px 0;">
    <div class="slider6">
        <% if (daily.imagekeys[0]) { %>
        <% daily.imagekeys.forEach(function(val) { %>
      <div class="slide"><img src="http://o7k9opgtr.bkt.clouddn.com/<%= val %>"></div>

        <% }) %>
        <% }else{ %>
        <div class="slide"><img src="/img/mobile/img02.jpg"></div>
        <div class="slide"><img src="/img/mobile/img02.jpg"></div>
        <% } %>
    </div>
    <div class="order01">
        <div class="order01_top">
            <h1><a href="#"><%= daily.name %></a><br><span>2室1厅1卫   |   96平米   |   宜住3人</span></h1>
        </div>
        <div class="clear"></div>
        <div class="order01_bottom01">
            <form action="" method="get">
                <input type="date" value="入住 -> 离开" class="date01"><h1>￥ <em><%= daily.price %></em> / 晚</h1>
            </form>
        </div>
        <div class="clear"></div>
        <div class="order01_bottom02">
            <h2><a href="#">立即预定</a></h2>
            <h1>共3晚     |     合计 154元</h1>

        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
    <div class="order_content">
        <%= daily.comunity.desc %>
    </div>
    <img src="/img/mobile/map.jpg" width="100%">
    <div class="order01_icon">
        <h1>配套设施</h1>
        <div class="clear"></div>
        <span><em><img src="/img/mobile/icon04.png"></em>无线WI-FI</span>
        <span><em><img src="/img/mobile/icon05.png"></em>无线WI-FI</span>
        <span><em><img src="/img/mobile/icon06.png"></em>无线WI-FI</span>
        <span><em><img src="/img/mobile/icon07.png"></em>无线WI-FI</span>
        <span><em><img src="/img/mobile/icon08.png"></em>无线WI-FI</span>

        <div class="clear"></div>
        <div class="order01_more"><a href="#">全部</a></div>
    </div>

    <div class="clear"></div>
    <div class="footer01">
        <div class="footer01_l">￥<em><%= daily.price %></em> / 天</div>
        <div class="footer01_r">
            <a href="#">立即预定</a>
        </div>
    </div>
</div>
<div class="clear"></div>

</body>
</html>
