<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta name="viewport" content="width=device-width"/>
    <meta name="MobileOptimized" content="320"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)" name="viewport" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="telephone=no" name="format-detection" />
    <title>源涞国际</title>
    <link type="text/css" href="/css/mobile-main.css" rel="stylesheet" />
    <script type="text/javascript" src="/files/js/mobile/jquery.js"></script>
    <script type="text/javascript" src="/files/js/mobile/modernizr.custom.js"></script>
    <script type="text/javascript" src="/files/js/mobile/jquery.dlmenu.js"></script>
</head>
<body>
<div class="header">
    <a href="javascript:void(0)" onclick="history.go(-1)"><div class="header_l"><img src="/img/mobile/fanhui.png" width="20" /></div></a>
    <div class="header_font">日租公寓</div>
    <div id="sidebar"> 
       <ul>
           <li><a href="/">首页</a></li>
           <li><a href="/apartment/">热门房源</a></li>
           <li><a href="/daily/">日租房源</a></li>
           <li><a href="/delegate">委托房源</a></li>
           <% if (user) { %>
           <li><a href="/user/logout/">登出</a></li>
           <% } else { %>
           <li><a href="/user/login/">登录</a></li>
           <% } %>
       </ul>
       <div id="sidebar-btn">
          <div style="padding:3px 0 0 0">
           <span></span>
           <span></span>
           <span></span> 
          </div>
       </div>
    </div>

    <script>
    jQuery(document).ready(function($) {
        $('#sidebar-btn').click(function() {
            $('#sidebar').toggleClass('visible');
        });
    });
    </script>
</div>
<div class="main01">

    <% result.docs.forEach(function(val) { %>
        <div class="fangyuan_pic">
           
            <a href="/daily/<%= val.id %>">
                <img
                    <% if (val.imagekeys[0]) { %>
                        src="http://<%= qiniuDomain %>/<%= val.imagekeys[0] %>?imageView2/0/w/800/h/600"
                    <% }else{ %>
                        src="/img/mobile/img02.jpg"
                    <% } %>
                />
            </a>
           
            <div class="fangyuan_pic01">
                <h1><a href="/daily/<%= val.id %>"><%= val.comunity.name %></a></h1>
                <h2><p>2室1厅1卫 | 96平米 </p><span>￥<em> <%= val.price %></em> / 天</span></h2>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    <% }) %>
     <div class="page01">
            <% if (result.page > 3) { %>
                <a href="javascript:void(0);"  class="prepage">上一页</a>
            <% } %>
            <% for (var i = startIndex; i <= endIndex; i++) { %>
                <a  href="javascript:void(0);" vid="<%= i %>" class="pagenum" <% if (result.page == i) { %>id="page_hover"<% } %> ><%= i %></a>
            <% } %>
            <% if (result.page + 3 <= result.pages) { %>
                <a href="javascript:void(0);" class="nextpage">下一页</a>
            <% } %>
         </div>
    <div class="clear"></div>
</div>
<div class="clear"></div>
<div class="mobile_footer">
    <div class="rexian">预约热线 &nbsp;&nbsp;<a href="tel:400-668-1609"><font color="#000">400-668-1609</font></a></div>
    <div class="footnav"><a href="">关于源涞</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="">电脑版</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="" style="color:#000;">触屏版</a>
    <br/>© Copyright 2013 -2016
    </div>
</div>
</body>
</html>
