<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta name="viewport" content="width=device-width"/>
    <meta name="MobileOptimized" content="320"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)" name="viewport" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="telephone=no" name="format-detection" />
    <title>源涞国际</title>
    <link type="text/css" href="/css/mobile-main.css" rel="stylesheet" />
    <script type="text/javascript" src="/files/js/mobile/jquery.js"></script>
    <script type="text/javascript" src="/files/js/mobile/modernizr.custom.js"></script>
    <script type="text/javascript" src="/files/js/mobile/jquery.dlmenu.js"></script>

    <script type="text/javascript" src="/files/lib/dateRange/dateRange.js"></script>
    <link rel="stylesheet" type="text/css" href="/files/lib/dateRange/dateRange.css"/>

    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="/files/lib/swiper/css/swiper.min.css">
<link rel="stylesheet" href="/files/lib/swiper/css/mobile.css">
</head>
<body>
<div class="header">
    <a href="javascript:void(0)" onclick="history.go(-1)"><div class="header_l"><img src="/img/mobile/fanhui.png" width="20" /></div></a>
    <div class="header_font"><%= daily.comunity.name %></div>
    <div id="sidebar"> 
       <ul>
           <li><a href="/">首页</a></li>
           <li><a href="/apartment/">热门房源</a></li>
           <li><a href="/daily/">日租房源</a></li>
           <li><a href="#">委托房源</a></li>
           <% if (user) { %>
           <li><a href="/user/logout/">登出</a></li>
           <% } else { %>
           <li><a href="/user/login/">登录</a></li>
           <% } %>
       </ul>
       <div id="sidebar-btn">
          <div style="padding:3px 0 0 0">
           <span></span>
           <span></span>
           <span></span> 
          </div>
       </div>
    </div>

    <script>
    jQuery(document).ready(function($) {
        $('#sidebar-btn').click(function() {
            $('#sidebar').toggleClass('visible');
        });
    });
    </script>
</div>
<div class="main01" style="padding:0 0 90px 0;">

    <!-- Swiper -->
<div class="swiper-container">
    <div class="swiper-wrapper">
         <% if (daily.imagekeys[0]) { %>
        <% daily.imagekeys.forEach(function(val) { %>
        <div class="swiper-slide">
            <!-- Required swiper-lazy class and image source specified in data-src attribute -->
            <img data-src="http://o7k9opgtr.bkt.clouddn.com/<%= val %>" class="swiper-lazy">
            <!-- Preloader image -->
            <div class="swiper-lazy-preloader swiper-lazy-preloader-black"></div>
        </div>
         <% }) %>
        <% }else{ %>
        <div class="swiper-slide">
            <img data-src="/img/mobile/img02.jpg" class="swiper-lazy">
            <div class="swiper-lazy-preloader swiper-lazy-preloader-black"></div>
        </div>
        <div class="swiper-slide">
            <img data-src="/img/mobile/img02.jpg" class="swiper-lazy">
            <div class="swiper-lazy-preloader swiper-lazy-preloader-black"></div>
        </div>
        <% } %>

    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination swiper-pagination-black"></div>
    <!-- Navigation -->
    <div class="swiper-button-next swiper-button-black"></div>
    <div class="swiper-button-prev swiper-button-black"></div>
</div>

   
    <div class="order01">
        <div class="order01_top">
            <h1><a href="#"><%= daily.name %></a><br><!--<span>3室2厅1卫 |   100平米   |   宜住3人</span>--></h1>
        </div>
        <div class="clear"></div>
        <div class="order01_bottom01">
            <form action="" method="get">
                <input type="txt" value="" placeholder="请选择时间" id="date1" class="date01"><h1>￥ <em class="danjia"><%= daily.price %></em> / 晚</h1>
                <input type="hidden" name="startDate" value="" >
                <input type="hidden" name="endDate" value="" >
            </form>
        </div>
        <div class="clear"></div>
        <div class="order01_bottom02">
            <h2><a href="javascript:void(0);" onclick="yuding()">立即预定</a></h2>
            <h1>共<span class="days">1</span>晚     |     合计 <span class="zongjia"><%= daily.price %></span>元</h1>

        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
    <div class="order_content">
        <%= daily.comunity.desc %>
    </div>
    <div style="width:100%; height:300px" id="allmap"></div>
    <div class="order01_icon">
        <h1>配套设施</h1>
        <div class="clear"></div>
        <span><em><img src="/img/mobile/icon04.png"></em>无线WI-FI</span>
        <span><em><img src="/img/mobile/icon05.png"></em>无线WI-FI</span>
        <span><em><img src="/img/mobile/icon06.png"></em>无线WI-FI</span>
        <span><em><img src="/img/mobile/icon07.png"></em>无线WI-FI</span>
        <span><em><img src="/img/mobile/icon08.png"></em>无线WI-FI</span>

        <div class="clear"></div>
        <div class="order01_more"><a href="#">全部</a></div>
    </div>

    <div class="clear"></div>
    <div class="footer01">
        <div class="footer01_l">￥<em><%= daily.price %></em> / 天</div>
        <div class="footer01_r">
            <a href="javascript:void(0);" onclick="yuding()">立即预定</a>
        </div>
    </div>
</div>
<div class="clear"></div>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=hfr56zCA14KkpuRGsr2vKcV0GOG7KtH6"></script>
<script type="text/javascript" src="/files/js/baidumap.js"></script>
<script type="text/javascript">

// 当前房源信息
var longitude = <%= daily.comunity.longitude %>; //当前中心点坐标
var latitude = <%= daily.comunity.latitude %>;
var centerPointName = '<%= daily.comunity.name %>';
var centerPointAddress = '<%= daily.comunity.address %>';


// 百度地图API功能开始
var map = new BMap.Map("allmap");
var point = new BMap.Point(longitude, latitude);
map.centerAndZoom(point, 15);

//设置缩放控件
//map.enableScrollWheelZoom();
//map.enableInertialDragging();

//map.enableContinuousZoom();



//添加当前房源标注并直接显示
var centerPoint = new BMap.Point(longitude,latitude);
var centerContent = "地址："+centerPointAddress;
//添加标注以及信息窗口
//创建特殊图标$




			
addThisMaker();

var dateRange1 = new pickerDateRange('date1', {
        aRecent90Days : 'aRecent90Days', //最近90天
        needCompare : false,
        autoSubmit : false,
        inputTrigger : 'input_trigger1',
        theme : 'ta',
        success:function(obj){
            console.log(obj);
            getPrice(obj.startDate,obj.endDate);
            $("input[name='startDate']").val(obj.startDate);
            $("input[name='endDate']").val(obj.endDate);
        },
});

//计算日期和价格
function getPrice(start,end)
{
	var days = DateDiff(start,end);
	var danjia = $(".danjia").html();
	if(parseInt(days)<1||isNaN(days))
	{
		days=1;
	} 
	$(".days").html(days);
	$(".zongjia").html(parseInt(days)*parseInt(danjia));
	console.log(days);
	console.log(danjia);
}
function  DateDiff(sDate1,  sDate2){    
       var  aDate,  oDate1,  oDate2,  iDays ;
       aDate  =  sDate1.split("-") ;
       oDate1  =  new  Date(aDate[1]  +  '/'  +  aDate[2]  +  '/'  +  aDate[0])  ;
       aDate  =  sDate2.split("-") ;
       oDate2  =  new  Date(aDate[1]  +  '/'  +  aDate[2]  +  '/'  +  aDate[0]) ;
       iDays  =  parseInt(Math.abs(oDate1  -  oDate2)  /  1000  /  60  /  60  /24) ;
       return  iDays ;
}   
function yuding()
{
    var startDate=$("input[name='startDate']").val();
    var endDate=$("input[name='endDate']").val();
    var dailyId = '<%= daily._id %>';
    if(startDate==''||endDate=='')
    {
        alert('请先选择日期!');return false;
    }
    else
    {
        location.href='/appointment/daily/'+dailyId+'?startDate='+startDate+'&endDate='+endDate;
    }
}
</script>

<!-- Swiper JS -->
    <script src="/files/lib/swiper/js/swiper.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
    var swiper = new Swiper('.swiper-container', {
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
    
        paginationClickable: true,
        // Disable preloading of all images
        preloadImages: true,
        // Enable lazy loading
        lazyLoading: true
    });
    </script>
</body>
</html>
