<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><%= title %></title>
<link type="text/css" rel="stylesheet" href="/css/style.css" />
<script type="text/javascript" src="/files/js/jquery-1.8.3.min.js"></script>


</head>
<body>

<!-----头部----->
<% include header.ejs %>
<!-----头部----->
<div class="clear"></div>

<div class="location">
     <a href="#">首页</a> > <a href="#">首页</a> > <a href="#">首页</a>
</div>

<div class="n_main">
    <div class="select01">
        <ul>
            <li><span>位置：</span>
                <a href="javascript:void(0);" class="weizhi seled" id="weizhi" vid="0">不限</a>
                <% districts.forEach(function(district) { %>
                    <a href="javascript:void(0);" vid="<%= district.id %>" class="weizhi" ><%= district.name %></a>
                <% }) %>
                <input type="hidden" name="weizhi" value="0" />
            </li>

            <li><span>房型：</span>
                <a href="javascript:void(0);" class="fangxing seled" id="fangxing" vid="0">不限</a>
                <a href="javascript:void(0);" class="fangxing" sid="shi" vid="1">一室</a>
                <a href="javascript:void(0);" class="fangxing"  sid="shi" vid="2">二室</a>
                <a href="javascript:void(0);" class="fangxing"  sid="shigte" vid="3">三室以上</a>
                <input type="hidden" name="fangxing" value="0" />
            </li>

            <li><span>月租：</span>
                <a href="javascript:void(0);" id="yuezu" class="yuezu seled" min="0" max="0">不限</a>
                <a href="javascript:void(0);" class="yuezu "  min="0" max="10000">¥10000以下</a>
                <a href="javascript:void(0);" class="yuezu " min="10000" max="20000">¥10000 - ¥20000</a>
                <a href="javascript:void(0);" class="yuezu " min="20000" max="30000">¥20000 - ¥30000</a>
                <a href="javascript:void(0);" class="yuezu " min="30000"  max="0">¥30000以上</a>
            </li>

            <li class="tiaojian"><span >条件：</span>
              
                
            </li>
        </ul>
    </div>
    <div class="clear"></div>
    <div class="tuijianfangyuan">
        <div class="gxm_name02">
            <div class="gxm_name02_l">
                <a class="isHotSort" href="javascript:void(0)" <% if(sortBy === 'isHot') { %> id="current03" <% } %> >推荐房源</a>
                <a class="priceSort" href="javascript:void(0)" <% if(sortBy === 'price') { %> id="current03" <% } %> >价格</a>
                <a class="areaSort" href="javascript:void(0)" <% if(sortBy === 'area') { %> id="current03" <% } %> >面积</a>
            </div>
           <!-- <div class="gxm_name02_r"> 共找到<span><%= result.total %></span>套出租房源</div> -->
        </div>  
        <div class="clear"></div>
        <div class="tuijianfangyuan_m">
            <% result.docs.forEach(function(val) { %> 
            
            <ul>
                <img 
                  <% if (val.imagekeys[0]) { %>
                    src="http://o7k9opgtr.bkt.clouddn.com/<%= val.imagekeys[0] %>"
                  <% }else{ %>
                    src="/img/banner01.jpg"
                  <% } %>
                  width="402"
                  height="260"
                /> 
                <li>
                    <h1><a href="/apartment/type/<%= val._id %>"><%= val.name %></a></h1>
                    <p><%= val.comunity.name %><br />
                        酒店式公寓  |  <%= val.roomType.shi %>室<%= val.roomType.ting %>厅<%= val.roomType.wei %>卫  | <%= val.maxArea %>平米</p>
                    <p style="margin:110px 0 0 0;"><%= val.district.name %>-<%= val.commerseArea.name %></p>
                    <p><%= val.comunity.address %></p>
                </li>
                <li style="float:right; margin:0 10px 0 0;">
                    <h2>￥ <em><%= val.minPrice %></em> / 月 起</h2>
                    <span><a href="/apartment/type/<%= val._id %>">查看详细房源</a></span>
                </li>
            </ul>
            <% }) %>
            
            <div class="clear"></div>
            <div class="page01">

                <% if (result.page > 3) { %>
                    <a href="javascript:void(0);"  class="prepage">上一页</a>
                <% } %>
                <% for (var i = startIndex; i <= endIndex; i++) { %>
                    <a  href="javascript:void(0);" vid="<%= i %>" class="pagenum <% if (result.page == i) { %>pagesel<% } %>"  ><%= i %></a>
                <% } %>
                <% if (result.page + 3 <= result.pages) { %>
                    <a href="javascript:void(0);" class="nextpage">下一页</a>
                <% } %>
                
            </div>
        </div>
        <input name="page" value="<%= result.page %>" class="page" type="hidden" />
        <input name="pages" value="<%= result.pages %>" class="pages" type="hidden" />
    </div>
    <div class="clear"></div>
</div>
<div class="clear"></div>
<div class="gxm_icon" style="margin:30px auto;">
    <span>
        <h1>居家体验</h1>
        <h2>洗衣下厨便捷/配备净水软水系统</h2>
        <img src="/img/icon14.png" />
    </span>
    <span>
        <h1>居家体验</h1>
        <h2>洗衣下厨便捷/配备净水软水系统</h2>
        <img src="/img/icon14.png" />
    </span>
    <span style="float:right; margin:0;">
        <h1>居家体验</h1>
        <h2>洗衣下厨便捷/配备净水软水系统</h2>
        <img src="/img/icon14.png" />
    </span>
    <div class="clear"></div>
</div>
<div class="clear"></div>
<% include footer.ejs %>
<script type="text/javascript" src="/files/js/ajax.js"></script>