<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><%= title %></title>
<link type="text/css" rel="stylesheet" href="/css/style.css" />
<script type="text/javascript" src="/files/js/jquery.js"></script>


</head>
<body>

<!-----头部----->
<% include header.ejs %>
<!-----头部----->
<div class="clear"></div>

<div class="location">
     <a href="#">首页</a> > <a href="#">首页</a> > <a href="#">首页</a>
</div>

<div class="n_main">
<!-- <div class="select01">
        <ul>
            <li><span>位置：</span><a href="#">不限</a><a href="#" id="select_hover">黄浦区</a><a href="#">黄浦区</a><a href="#">黄浦区</a><a href="#">黄浦区</a></li>
            <li><span>房型：</span><a href="#">不限</a><a href="#">黄浦区</a><a href="#">黄浦区</a><a href="#">黄浦区</a><a href="#">黄浦区</a></li>
            <li><span>月租：</span><a href="#">不限</a><a href="#">¥5000-¥10000</a><a href="#">¥5000-¥10000</a><a href="#">¥5000-¥10000</a></li>
            <li><span>条件：</span><a href="#">不限</a><a href="#">黄埔区</a><a href="#">黄埔区</a><a href="#">¥5000-¥10000</a></li>
        </ul>
    </div>-->
    <div class="clear"></div>
    <div class="tuijianfangyuan">
        <div class="gxm_name02">
            <div class="gxm_name02_l">
                <a href="#" >推荐房源</a>
                <a href="#" id="current03">价格</a>
                <a href="#">面积</a>
            </div>
            <div class="gxm_name02_r"> 共找到<span><%= result.total %></span>套出租房源</div>
        </div>  
        <div class="clear"></div>
        <div class="tuijianfangyuan_m">
            <% result.docs.forEach(function(val) { %> 
            
            <ul>
                <img
                  <% if (val.imagekeys[0]) { %>
                    src="http://o7k9opgtr.bkt.clouddn.com/<%= val.imagekeys[0] %>"
                  <% }else{ %>
                    src="/img/banner01.jpg"
                  <% } %>
                  width="402"
                  height="260"
                />
                <li>
                    <h1><a href="/apartment/detail/<%= val.id %>"><%= val.name %></a></h1>
                    <p><%= val.comunity.name %><br />
                        酒店式公寓  |  <%= val.apartmentType.roomType.shi %>室<%= val.apartmentType.roomType.ting %>厅<%= val.apartmentType.roomType.wei %>卫  |  <%= val.area %>平米</p>
                    <p style="margin:130px 0 0 0;"><%= val.address %></p>
                </li>
                <li style="float:right; margin:0 10px 0 0;">
                    <h2>￥ <em><%= val.price %></em> / 天</h2>
                    <span><a href="/apartment/detail/<%= val._id %>">查看详情</a></span>
                </li>
            </ul>
            <% }) %>
            
            <div class="clear"></div>
            <div class="page01">
                <% if (result.page > 3) { %>
                <a href="/apartment/type/<%= typeId %>/?page=<%= result.page - 1 %>">上一页</a>
                <% } %>
                <% for (var i = startIndex; i <= endIndex; i++) { %>
                <a href="/apartment/type/<%= typeId %>/?page=<%= i %>"><%= i %></a>
                <% } %>
                <% if (result.page + 3 <= result.pages) { %>
                <a href="/apartment/type/<%= typeId %>/?page=<%= result.page + 1 %>">下一页</a>
                <% } %>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="clear"></div>
<div class="gxm_icon" style="margin:30px auto;">
    <span>
        <h1>居家体验</h1>
        <h2>洗衣下厨便捷/配备净水软水系统</h2>
        <img src="/img/icon14.png" />
    </span>
    <span>
        <h1>居家体验</h1>
        <h2>洗衣下厨便捷/配备净水软水系统</h2>
        <img src="/img/icon14.png" />
    </span>
    <span style="float:right; margin:0;">
        <h1>居家体验</h1>
        <h2>洗衣下厨便捷/配备净水软水系统</h2>
        <img src="/img/icon14.png" />
    </span>
    <div class="clear"></div>
</div>
<div class="clear"></div>
<% include footer.ejs %>