<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><%= apartment.comunity.name %><%= apartment.apartmentType.roomType.shi %>房<%= apartment.apartmentType.roomType.ting %>厅<%= apartment.apartmentType.roomType.wei %>卫</title>
<link type="text/css" rel="stylesheet" href="/css/style.css" />
<link type="text/css" rel="stylesheet" href="/css/slide.css" />
<link rel="stylesheet" href="/files/lib/jquery.slides.css">
<link rel="stylesheet" href="/files/lib/font-awesome.min.css">

<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="/files/lib/jquery.slides.min.js"></script>

<script>
    $(function(){
        $("#slides").slidesjs({
            navigation: false
        });
    });
</script>

</head>
<body>

<!-----头部----->
<% include header.ejs %>
<!-----头部----->
<div class="clear"></div>

<div class="location">
    <a href="/">首页</a> >
    <a href="/apartment/">热门房源</a> >
    <a href="/apartment/detail/<%= apartment._id %>">房源详情</a>
</div>
<div id="slider1_container" class="slider1_container" >

    <!-- Loading Screen -->
    <div u="loading" class="loading" >
        <div class="one" ></div>
        <div class="two" ></div>
    </div>

    <!-- Slides Container -->
    <div u="slides" class="slider1_slides" >
        <% if (apartment.imagekeys && apartment.imagekeys.length > 0) { %>
            <% apartment.imagekeys.forEach(function(imgkey){ %>
            <div>
                <img u="image"  src="http://o7k9opgtr.bkt.clouddn.com/<%= imgkey %>"  />
                <img u="thumb"  src="http://o7k9opgtr.bkt.clouddn.com/<%= imgkey %>"  />
            </div>
            <% }) %>
        <% } else { %>
            <div>
                <img u="image" src="/img/default.jpg"  alt="" />
                <img u="thumb" src="/img/default.jpg"  alt="" />
            </div>
            <div>
                <img u="image" src="/img/default.jpg"  alt="" />
                <img u="thumb" src="/img/default.jpg"  alt="" />
            </div>
            
        <% } %>
        
    </div>
    
       
    <span u="arrowleft" class="jssora05l" ></span>
    <span u="arrowright" class="jssora05r" ></span>
        
    <div u="thumbnavigator" class="jssort01" >

        <div u="slides" style="cursor: move;">
            <div u="prototype"  class="p" style="">
                <div class=w><div u="thumbnailtemplate" style=" width: 100%; height: 100%; border: none;position:absolute; top: 0; left: 0;"></div></div>
                <div class=c></div>
            </div>
        </div>
        <!-- Thumbnail Item Skin End -->
    </div>
    <!-- Thumbnail Navigator Skin End -->
        
</div>
<!--
<div class="container">
    <div id="slides">
        <% if (apartment.imagekeys && apartment.imagekeys.length > 0) { %>
            <% apartment.imagekeys.forEach(function(imgkey){ %>
            <div>
                <img class="slide" src="http://o7k9opgtr.bkt.clouddn.com/<%= imgkey %>" width="auto" height="520" alt="" />
            </div>
            <% }) %>
        <% } else { %>
            <div>
                <img class="slide" src="/img/default.jpg" width="auto" height="520" alt="" />
            </div>
            <div>
                <img class="slide" src="/img/default.jpg" width="auto" height="520" alt="" />
            </div>
        <% } %>
       
        <a href="#" class="slidesjs-previous slidesjs-navigation"><img src="/img/left_slider_arrow.png" alt="" /></a>
        <a href="#" class="slidesjs-next slidesjs-navigation"><img src="/img/right_slider_arrow.png" alt="" /></a>
    </div>
</div>
-->
<div class="n_main">
    <div class="remen_top_show">
        <div class="remen01">
                <div class="remen01_l">
                    <h1><%= apartment.comunity.name %><%= apartment.apartmentType.roomType.shi %>房<%= apartment.apartmentType.roomType.ting %>厅<%= apartment.apartmentType.roomType.wei %>卫</h1>
                    <p>
                    <%= apartment.address %>  <%= apartment.district.name %><br />
                    <%= apartment.apartmentType.roomType.shi %>室<%= apartment.apartmentType.roomType.ting %>厅<%= apartment.apartmentType.roomType.wei %>卫  |  <%= apartment.area %>平米  |  06层  |  精装修 | 现代简约
                    </p>
                </div>
                <div class="remen01_r">
                   <h1>￥ <em><%= apartment.price %></em> / 月</h1>
                   <a href="#"><img src="/img/icon14.jpg" width="135" height="43" /></a>
                </div>
        </div>
        <div class="clear"></div>
        <div class="remen02">
            <form action="" method="get">
                <ul>
                    <li>姓名：<input type="text" class="text03"/></li>
                    <li>手机：<input type="text" class="text03"/></li>
                    <li>验证码：<input type="text" class="text04"/></li>
                    <li>邮箱：<input type="text" class="text03" /></li>
                    <li style="width:300px;">看房需求：<textarea name="" class="text05"  cols="" rows=""></textarea></li>
                    <li>预约看房：<input type="submit" class="text06" value="预约看房" /></li>
                </ul>
            </form>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <div class="tabbox01" id="statetab01">
            <ul class="tabbtn01">
                <li class="current"><a href="#">房源信息</a></li>
                <li><a href="#weizhi">小区位置</a></li>
            </ul><!--tabbtn end-->

            <div class="clear"></div>
            <div class="tabcon01">
                <div class="tabcon01_l">
                    <h1>设施</h1>
                    <div class="tabcon01_l_m">
                        <span class="tv">电视机</span>
                        <span class="dianbingxiang">电冰箱</span>
                        <span class="shiyiji">洗衣机</span>
                        <span class="kongtiao">空调</span>
                        <span class="maojin">毛巾</span>
                        <span class="yaju">牙具</span>
                        <span class="tuoxie">拖鞋</span>
                        <span class="muyulu">沐浴露</span>
                        <span class="chuifengji">吹风机</span>
                        <span class="linyu">淋浴</span>
                        <span class="wifi">WIFI</span>
                        <span class="kuandai">宽带</span>
                        <span class="youxiandianshi">有线电视</span>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="tabcon01_l" style="float:right;">
                        <h1>配套</h1>
                        <div class="tabcon01_l_m">
                           <span class="dianti">电梯</span>
                           <span class="menjin">门禁</span>
                           <span class="baoan">保安</span>
                           <span class="quantianreshui">全天热水</span>
                           <span class="bianlidian">便利店</span>
                           <span class="tingchewei">停车位</span>
                           <span class="jianshensheshi">健身设施</span>
                           <span class="youyongchi">游泳池</span>
                           <span class="wenquan">温泉</span>
                           <span class="huisuo">会所</span>
                           <span class="ertongleyuan">儿童乐园</span>
                           <div class="clear"></div>
                        </div>
                </div>
                <div class="clear"></div>
            </div><!--tabcon end-->
        </div>

        <div class="gxm_name03">
            <h1>源涞管家式租房服务</h1>
            <p>Yoland源涞社区服务公寓，为所有租客提供管家式租房服务。<br />根据您的租房需求，选择对应的服务标准。</p>
            <div class="clear"></div>
        </div>

        <div class="tabcon01">
            <div class="tabcon01_l">
                <h1>基本服务</h1>
                <div class="tabcon01_l_m">
                    <span class="xinglijicun">行李寄存</span>
                    <span class="jiaoxingfuwu">叫醒服务</span>
                    <span class="xiyifuwu">洗衣服务</span>
                    <span class="xiyi">洗衣</span>
                    <span class="zuofan">做饭</span>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="tabcon01_l" style="float:right;">
                <h1>VIP服务</h1>
                <div class="tabcon01_l_m">
                    <span class="juhui">聚会</span>
                    <span class="daichongwu">带宠物</span>
                    <span class="jiedaiwaibin">接待外宾</span>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div><!--tabcon end-->

        <div class="xiaoqu">
            <h1>小区介绍</h1>
            <%= apartment.comunity.desc %>
        </div>
    </div>

    <div class="clear"></div>
    <div class="jichang" id="weizhi">
        <div class="jichang_l"><img src="/img/map.jpg" width="637" height="544" /></div>
        <div class="jichang_r">
            <div class="tabbox02" id="statetab02">
                <ul class="tabbtn02">
                    <li class="current"><a>机场车站</a></li>
                    <li><a> 地铁站 </a></li>	   
                    <li><a> 景点娱乐</a></li>	                           
                    <li><a>休闲娱乐</a></li>	
                </ul><!--tabbtn end-->
                <div class="clear"></div>
                    <div class="tabcon02">
                        <table width="95%" border="0" cellpadding="0" cellspacing="0" align="right">
                            <tr>
                              <td>上海浦东国际机场</td>
                              <td><img src="/img/icon16.png" /></td>
                              <td>30分钟</td>
                              <td><img src="/img/icon17.png" /></td>
                              <td>30分钟</td>
                            </tr>
                            <tr>
                               <td>上海浦东国际机场</td>
                               <td><img src="/img/icon16.png" /></td>
                               <td>30分钟</td>
                               <td><img src="/img/icon17.png" /></td>
                               <td>30分钟</td>
                             </tr>
                            <tr>
                               <td>上海浦东国际机场</td>
                               <td><img src="/img/icon16.png" /></td>
                               <td>30分钟</td>
                               <td><img src="/img/icon17.png" /></td>
                               <td>30分钟</td>
                             </tr>
                            <tr>
                                <td>上海浦东国际机场</td>
                                <td><img src="/img/icon16.png" /></td>
                                <td>30分钟</td>
                                <td><img src="/img/icon17.png" /></td>
                                <td>30分钟</td>
                            </tr>
                            <tr>
                                <td>上海浦东国际机场</td>
                                <td><img src="/img/icon16.png" /></td>
                                <td>30分钟</td>
                                <td><img src="/img/icon17.png" /></td>
                                <td>30分钟</td>
                            </tr>
                            <tr>
                                <td>上海浦东国际机场</td>
                                <td><img src="/img/icon16.png" /></td>
                                <td>30分钟</td>
                                <td><img src="/img/icon17.png" /></td>
                                <td>30分钟</td>
                            </tr>
                            <tr>
                                <td>上海浦东国际机场</td>
                                <td><img src="/img/icon16.png" /></td>
                                <td>30分钟</td>
                                <td><img src="/img/icon17.png" /></td>
                                <td>30分钟</td>
                            </tr>
                            <tr>
                                <td>上海浦东国际机场</td>
                                <td><img src="/img/icon16.png" /></td>
                                <td>30分钟</td>
                                <td><img src="/img/icon17.png" /></td>
                                <td>30分钟</td>
                            </tr>
                        </table>
                    </div><!--tabcon end-->

                    <div class="tabcon02">
                        <table width="95%" border="0" cellpadding="0" cellspacing="0" align="right">
                            <tr>
                              <td>上海浦东国际机场</td>
                              <td><img src="/img/icon16.png" /></td>
                              <td>30分钟</td>
                              <td><img src="/img/icon17.png" /></td>
                              <td>30分钟</td>
                            </tr>
                           <tr>
                              <td>上海浦东国际机场</td>
                              <td><img src="/img/icon16.png" /></td>
                              <td>30分钟</td>
                              <td><img src="/img/icon17.png" /></td>
                              <td>30分钟</td>
                            </tr>
                        </table>
                    </div><!--tabcon end-->
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>


<div class="clear"></div>

<% include footer.ejs %>
<script type="text/javascript" src="/files/js/jssor.js"></script>
    <script type="text/javascript" src="/files/js/jssor.slider.js"></script>
 <script>

        jQuery(document).ready(function ($) {

            var _SlideshowTransitions = [
            //Fade in L
                {$Duration: 1200, x: 0.3, $During: { $Left: [0.3, 0.7] }, $Easing: { $Left: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2 }
            //Fade out R
                , { $Duration: 1200, x: -0.3, $SlideOut: true, $Easing: { $Left: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2 }
            //Fade in R
                , { $Duration: 1200, x: -0.3, $During: { $Left: [0.3, 0.7] }, $Easing: { $Left: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2 }
            //Fade out L
                , { $Duration: 1200, x: 0.3, $SlideOut: true, $Easing: { $Left: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2 }

            //Fade in T
                , { $Duration: 1200, y: 0.3, $During: { $Top: [0.3, 0.7] }, $Easing: { $Top: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2, $Outside: true }
            //Fade out B
                , { $Duration: 1200, y: -0.3, $SlideOut: true, $Easing: { $Top: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2, $Outside: true }
            //Fade in B
                , { $Duration: 1200, y: -0.3, $During: { $Top: [0.3, 0.7] }, $Easing: { $Top: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2 }
            //Fade out T
                , { $Duration: 1200, y: 0.3, $SlideOut: true, $Easing: { $Top: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2 }

            //Fade in LR
                , { $Duration: 1200, x: 0.3, $Cols: 2, $During: { $Left: [0.3, 0.7] }, $ChessMode: { $Column: 3 }, $Easing: { $Left: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2, $Outside: true }
            //Fade out LR
                , { $Duration: 1200, x: 0.3, $Cols: 2, $SlideOut: true, $ChessMode: { $Column: 3 }, $Easing: { $Left: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2, $Outside: true }
            //Fade in TB
                , { $Duration: 1200, y: 0.3, $Rows: 2, $During: { $Top: [0.3, 0.7] }, $ChessMode: { $Row: 12 }, $Easing: { $Top: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2 }
            //Fade out TB
                , { $Duration: 1200, y: 0.3, $Rows: 2, $SlideOut: true, $ChessMode: { $Row: 12 }, $Easing: { $Top: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2 }

            //Fade in LR Chess
                , { $Duration: 1200, y: 0.3, $Cols: 2, $During: { $Top: [0.3, 0.7] }, $ChessMode: { $Column: 12 }, $Easing: { $Top: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2, $Outside: true }
            //Fade out LR Chess
                , { $Duration: 1200, y: -0.3, $Cols: 2, $SlideOut: true, $ChessMode: { $Column: 12 }, $Easing: { $Top: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2 }
            //Fade in TB Chess
                , { $Duration: 1200, x: 0.3, $Rows: 2, $During: { $Left: [0.3, 0.7] }, $ChessMode: { $Row: 3 }, $Easing: { $Left: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2, $Outside: true }
            //Fade out TB Chess
                , { $Duration: 1200, x: -0.3, $Rows: 2, $SlideOut: true, $ChessMode: { $Row: 3 }, $Easing: { $Left: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2 }

            //Fade in Corners
                , { $Duration: 1200, x: 0.3, y: 0.3, $Cols: 2, $Rows: 2, $During: { $Left: [0.3, 0.7], $Top: [0.3, 0.7] }, $ChessMode: { $Column: 3, $Row: 12 }, $Easing: { $Left: $JssorEasing$.$EaseInCubic, $Top: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2, $Outside: true }
            //Fade out Corners
                , { $Duration: 1200, x: 0.3, y: 0.3, $Cols: 2, $Rows: 2, $During: { $Left: [0.3, 0.7], $Top: [0.3, 0.7] }, $SlideOut: true, $ChessMode: { $Column: 3, $Row: 12 }, $Easing: { $Left: $JssorEasing$.$EaseInCubic, $Top: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2, $Outside: true }

            //Fade Clip in H
                , { $Duration: 1200, $Delay: 20, $Clip: 3, $Assembly: 260, $Easing: { $Clip: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2 }
            //Fade Clip out H
                , { $Duration: 1200, $Delay: 20, $Clip: 3, $SlideOut: true, $Assembly: 260, $Easing: { $Clip: $JssorEasing$.$EaseOutCubic, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2 }
            //Fade Clip in V
                , { $Duration: 1200, $Delay: 20, $Clip: 12, $Assembly: 260, $Easing: { $Clip: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2 }
            //Fade Clip out V
                , { $Duration: 1200, $Delay: 20, $Clip: 12, $SlideOut: true, $Assembly: 260, $Easing: { $Clip: $JssorEasing$.$EaseOutCubic, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2 }
                ];

            var options = {
                $AutoPlay: true,                                    //[Optional] Whether to auto play, to enable slideshow, this option must be set to true, default value is false
                $AutoPlayInterval: 1500,                            //[Optional] Interval (in milliseconds) to go for next slide since the previous stopped if the slider is auto playing, default value is 3000
                $PauseOnHover: 1,                                //[Optional] Whether to pause when mouse over if a slider is auto playing, 0 no pause, 1 pause for desktop, 2 pause for touch device, 3 pause for desktop and touch device, 4 freeze for desktop, 8 freeze for touch device, 12 freeze for desktop and touch device, default value is 1

                $DragOrientation: 3,                                //[Optional] Orientation to drag slide, 0 no drag, 1 horizental, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $DisplayPieces is greater than 1, or parking position is not 0)
                $ArrowKeyNavigation: true,   			            //[Optional] Allows keyboard (arrow key) navigation or not, default value is false
                $SlideDuration: 800,                                //Specifies default duration (swipe) for slide in milliseconds

                $SlideshowOptions: {                                //[Optional] Options to specify and enable slideshow or not
                    $Class: $JssorSlideshowRunner$,                 //[Required] Class to create instance of slideshow
                    $Transitions: _SlideshowTransitions,            //[Required] An array of slideshow transitions to play slideshow
                    $TransitionsOrder: 1,                           //[Optional] The way to choose transition to play slide, 1 Sequence, 0 Random
                    $ShowLink: true                                    //[Optional] Whether to bring slide link on top of the slider when slideshow is running, default value is false
                },

                $ArrowNavigatorOptions: {                       //[Optional] Options to specify and enable arrow navigator or not
                    $Class: $JssorArrowNavigator$,              //[Requried] Class to create arrow navigator instance
                    $ChanceToShow: 1                               //[Required] 0 Never, 1 Mouse Over, 2 Always
                },

                $ThumbnailNavigatorOptions: {                       //[Optional] Options to specify and enable thumbnail navigator or not
                    $Class: $JssorThumbnailNavigator$,              //[Required] Class to create thumbnail navigator instance
                    $ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always

                    $ActionMode: 1,                                 //[Optional] 0 None, 1 act by click, 2 act by mouse hover, 3 both, default value is 1
                    $SpacingX: 8,                                   //[Optional] Horizontal space between each thumbnail in pixel, default value is 0
                    $DisplayPieces: 15,                             //[Optional] Number of pieces to display, default value is 1
                    $ParkingPosition: 360                          //[Optional] The offset position to park thumbnail
                }
            };

            var jssor_slider1 = new $JssorSlider$("slider1_container", options);
            //responsive code begin
            //you can remove responsive code if you don't want the slider scales while window resizes
            function ScaleSlider() {
                var parentWidth = jssor_slider1.$Elmt.parentNode.clientWidth;
                if (parentWidth)
                    jssor_slider1.$ScaleWidth(Math.max(Math.min(parentWidth, 1120), 300));
                else
                    window.setTimeout(ScaleSlider, 30);
            }
            ScaleSlider();

            $(window).bind("load", ScaleSlider);
            $(window).bind("resize", ScaleSlider);
            $(window).bind("orientationchange", ScaleSlider);
            //responsive code end
        });
    </script>
</body>
</html>
