<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><%= apartment.comunity.name %><%= apartment.apartmentType.roomType.shi %>房<%= apartment.apartmentType.roomType.ting %>厅<%= apartment.apartmentType.roomType.wei %>卫</title>
<link href="/files/lib/jqueryhdp/css/album.css" rel="stylesheet" type="text/css" media="all" />
<link type="text/css" rel="stylesheet" href="/css/style.css" />
<script type="text/javascript" src="/files/js/jquery-1.8.3.min.js"></script>
</head>
<body>

<!-----头部----->
<% include header.ejs %>
<!-----头部----->
<div class="clear"></div>

<div class="location">
    <a href="/">首页</a> >
    <a href="/apartment/">热门房源</a> >
    <a href="/apartment/detail/<%= apartment._id %>">房源详情</a>
</div>
<div class="album" id="album">
	 <div class="album-image-md" id="album-image-md">
		  <p class="album-image-bd"><img src="/img/default.jpg" class="album-image" id="album-image"  width="674" height="750" /></p>	  
		  <ul class="album-image-nav hide" id="album-image-nav">
		  	  <li class="album-image-nav-left-block" id="album-image-nav-left-block"><a href="#prev-image" class="album-image-btn-prev" id="album-image-btn-prev">‹</a></li>
			  <li class="album-image-nav-right-block" id="album-image-nav-right-block"><a href="#next-image" class="album-image-btn-next" id="album-image-btn-next">›</a></li>
		  </ul>
		  <p class="album-image-loading-overlay hide" id="album-image-loading-overlay"><img src="/files/lib/jqueryhdp/img/loading.gif" alt="loading..." width="100" height="100" /></p>
	 </div>
        <div class="album-carousel" id="album-carousel">
            <a href="#prev-group" class="album-carousel-btn-prev" id="album-carousel-btn-prev">‹</a>
                <div class="album-carousel-zone" id="album-carousel-zone">
                    <ul class="album-carousel-list" id="album-carousel-list">
                        <% if (apartment.imagekeys && apartment.imagekeys.length > 0) { %>
                            <% for (var i=0;i<apartment.imagekeys.length;i++){  %>
                                <li class="album-carousel-thumb <% if(i == 0) { %>  album-carousel-thumb-selected <% } %> ">
                                    <a href="http://o7k9opgtr.bkt.clouddn.com/<%= apartment.imagekeys[i] %>">
                                        <img src="http://o7k9opgtr.bkt.clouddn.com/<%= apartment.imagekeys[i] %>" />
                                    </a>
                                </li>
                            <% } %>
                        <% } else { %>
                           <li class="album-carousel-thumb  album-carousel-thumb-selected">
                               <a href="/img/default.jpg">
                                   <img src="/img/default.jpg" width="230" height="144" />
                               </a>
                           </li>
                        <% } %>
                 </ul>
                 </div>
                 <a href="#next-group" class="album-carousel-btn-next" id="album-carousel-btn-next">›</a>
        </div>
</div>
<div class="n_main">
    <div class="remen_top_show">
        <div class="remen01">
                <div class="remen01_l">
                    <h1><%= apartment.comunity.name %><%= apartment.apartmentType.roomType.shi %>房<%= apartment.apartmentType.roomType.ting %>厅<%= apartment.apartmentType.roomType.wei %>卫</h1>
                    <p>
                    <%= apartment.address %>  <%= apartment.district.name %><br />
                    <%= apartment.apartmentType.roomType.shi %>室<%= apartment.apartmentType.roomType.ting %>厅<%= apartment.apartmentType.roomType.wei %>卫  |  <%= apartment.area %>平米  |  06层  |  精装修 | 现代简约
                    </p>
                </div>
                <div class="remen01_r">
                   <h1>￥ <em><%= apartment.price %></em> / 月</h1>
                   <a href="javascript:void(0);" class="yuyue"><img src="/img/icon14.jpg" width="135" height="43" /></a>
                </div>
        </div>
        <div class="clear"></div>
        <div class="remen02 hide" >
            <form action="/appointment/apartment/" method="post">
                <input type="hidden" name="apartmentId" value="<%= apartment._id %>" />
                <ul>
                    <li>姓名：<input name="name" type="text" class="text03"/></li>
                    <li>手机：<input name="mobile" type="text" class="text03"/></li>
                    <li  style="width:300px; ">
                        <span style="float:left;">验证码：</span>
                        <input name="smscode" type="text" style="float:left; " class="text04" />
                        <input type="button" class="text04" style="float:left; line-height:20px; cursor:pointer; margin-left:5px; height:28px;" value="获取验证码" />
                    </li>
                    <li>邮箱：<input name="email" type="text" class="text03" /></li>
                    <li style="width:300px; margin-left:-29px;">
                        看房需求：<textarea name="" class="text05"  cols="50" rows="30"></textarea>
                    </li>
                    <li style="width:300px; ">
                        预约看房时间：<input name="date" type="text" style="width:190px;" class="text03"/>
                        <input type="submit" class="text06" value="预约看房" style="margin-top:28px; margin-left:98px;" />
                    </li>
                </ul>
            </form>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <div class="tabbox01" id="statetab01">
            <ul class="tabbtn01">
                <li class="current"><a href="#">房源信息</a></li>
                <li><a href="#weizhi">小区位置</a></li>
            </ul><!--tabbtn end-->

            <div class="clear"></div>
            <div class="tabcon01">
                <div class="tabcon01_l">
                    <h1>设施</h1>
                    <div class="tabcon01_l_m">
                        <span class="tv">电视机</span>
                        <span class="dianbingxiang">电冰箱</span>
                        <span class="shiyiji">洗衣机</span>
                        <span class="kongtiao">空调</span>
                        <span class="maojin">毛巾</span>
                        <span class="yaju">牙具</span>
                        <span class="tuoxie">拖鞋</span>
                        <span class="muyulu">沐浴露</span>
                        <span class="chuifengji">吹风机</span>
                        <span class="linyu">淋浴</span>
                        <span class="wifi">WIFI</span>
                        <span class="kuandai">宽带</span>
                        <span class="youxiandianshi">有线电视</span>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="tabcon01_l" style="float:right;">
                        <h1>配套</h1>
                        <div class="tabcon01_l_m">
                           <span class="dianti">电梯</span>
                           <span class="menjin">门禁</span>
                           <span class="baoan">保安</span>
                           <span class="quantianreshui">全天热水</span>
                           <span class="bianlidian">便利店</span>
                           <span class="tingchewei">停车位</span>
                           <span class="jianshensheshi">健身设施</span>
                           <span class="youyongchi">游泳池</span>
                           <span class="wenquan">温泉</span>
                           <span class="huisuo">会所</span>
                           <span class="ertongleyuan">儿童乐园</span>
                           <div class="clear"></div>
                        </div>
                </div>
                <div class="clear"></div>
            </div><!--tabcon end-->
        </div>

        <div class="gxm_name03">
            <h1>源涞管家式租房服务</h1>
            <p>Yoland源涞社区服务公寓，为所有租客提供管家式租房服务。<br />根据您的租房需求，选择对应的服务标准。</p>
            <div class="clear"></div>
        </div>

        <div class="tabcon01">
            <div class="tabcon01_l">
                <h1>基本服务</h1>
                <div class="tabcon01_l_m">
                    <span class="xinglijicun">行李寄存</span>
                    <span class="jiaoxingfuwu">叫醒服务</span>
                    <span class="xiyifuwu">洗衣服务</span>
                    <span class="xiyi">洗衣</span>
                    <span class="zuofan">做饭</span>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="tabcon01_l" style="float:right;">
                <h1>VIP服务</h1>
                <div class="tabcon01_l_m">
                    <span class="juhui">聚会</span>
                    <span class="daichongwu">带宠物</span>
                    <span class="jiedaiwaibin">接待外宾</span>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div><!--tabcon end-->

        <div class="xiaoqu">
            <h1>小区介绍</h1>
            <%= apartment.comunity.desc %>
        </div>
    </div>

    <div class="clear"></div>
    <!--百度地图周边开始-->

    <div class="jichang" id="weizhi">
        <div class="jichang_l" id="allmap" style="height:600px; ">
        
        </div>
        <div class="jichang_r">
            <div class="tabbox02" id="statetab02">
                <ul class="tabbtn02">
                    <li class="current jccz"  radius='20000'   onclick="getJsonInfo('机场$车站','jccz')"><a>机场车站</a></li>
                    <li class=" dtz"  radius='20000'  onclick="getJsonInfo('地铁','dtz')"><a> 地铁站 </a></li>	   
                    <li class=" jdyl"  radius='20000'   onclick="getJsonInfo('景点$娱乐$生活','jdyl')"><a> 景点娱乐</a></li>	                           
                    <li class=" xxyl" radius='20000' filter="industry_type:life|sort_name:distance|sort_rule:1" onclick="getJsonInfo('休闲$娱乐','xxyl')"><a>休闲娱乐</a></li>	
                </ul><!--tabbtn end-->
                <div class="clear"></div>
                    <div class="tabcon02" id="jccz">
                        <table width="95%" border="0" cellpadding="0" cellspacing="0" align="right">
                            
                            
                        </table>
                    </div><!--tabcon end-->

                    <div class="tabcon02"  id="dtz">
                        <table width="95%" border="0" cellpadding="0" cellspacing="0" align="right">
                           
                        </table>
                    </div><!--tabcon end-->
					<div class="tabcon02"  id="jdyl">
                        <table width="95%" border="0" cellpadding="0" cellspacing="0" align="right">
                           
                        </table>
                    </div><!--tabcon end-->
					<div class="tabcon02"  id="xxyl">
                        <table width="95%" border="0" cellpadding="0" cellspacing="0" align="right">
                           
                        </table>
                    </div><!--tabcon end-->
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>


<div class="clear"></div>

<% include footer.ejs %>
<script type="text/javascript" src="/files/lib/jqueryhdp/js/carousel.js"></script>
<script type="text/javascript" src="/files/lib/jqueryhdp/js/album.js"></script>
<script type="text/javascript">
var Album = new jQuery.Album();
</script>


<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=hfr56zCA14KkpuRGsr2vKcV0GOG7KtH6"></script>
<script type="text/javascript" src="/files/js/baidumap.js"></script>
<script type="text/javascript">

// 当前房源信息
var longitude = <%= apartment.comunity.longitude %>; //当前中心点坐标
var latitude = <%= apartment.comunity.latitude %>;
var centerPointName = '<%= apartment.comunity.name %>';
var centerPointAddress = '<%= apartment.comunity.address %>';


// 百度地图API功能开始
var map = new BMap.Map("allmap");
var point = new BMap.Point(longitude, latitude);
map.centerAndZoom(point, 15);

//设置缩放控件
map.enableScrollWheelZoom();
map.enableInertialDragging();

map.enableContinuousZoom();



//添加当前房源标注并直接显示
var centerPoint = new BMap.Point(longitude,latitude);
var centerContent = "地址："+centerPointAddress;
//添加标注以及信息窗口
//创建特殊图标$




			
getJsonInfo('机场$车站','jccz');

$(function(){
	$(document).on("click",".yuyue",function(){
		$(".remen02").toggle();
	});

})
</script>

<link type="text/css" rel="stylesheet" href="/files/lib/jquery-flash/jquery.flash.css" />
<script type="text/javascript" src="/files/lib/jquery-flash/jquery.flash.js"></script>
<script type="text/javascript">
    $(function() {
        <% if (messages.error || messages.info) { %>
        <% if (messages.info) { %>
        $.flash("<%= messages.info %>");
        <% } %>
        <% if (messages.error) { %>
        $.flash("<%= messages.error %>");
        <% } %>
        <% } %>
    });
</script>

</body>
</html>
