<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="/files/cms/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/files/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/files/lib/Validform_v5.3.2_min.js"></script>
<script type="text/javascript" src="/files/lib/select/jquery.searchableSelect.js"></script>

<link href="/files/lib/select/jquery.searchableSelect.css" rel="stylesheet" type="text/css">
</head>

<body>

	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">首页</a></li>
    <li><a href="#">表单</a></li>
    </ul>
    </div>
    
    <div class="formbody">
    
    <div class="formtitle"><span>基本信息</span></div>
    <form action="/cms/community/add" class="subform"  method="post">

    <ul class="forminfo">
        <li><label>小区</label><input name="villageName"  sucmsg=" "  datatype="*" value="<%= comunity.name %>" type="text" class="dfinput" /><i  class="Validform_checktip"></i></li>
        <li style="z-index:9999999;"><label>行政区</label>
            <select name="DistrictName" class="xingzhengqu" >
             <% districts.forEach(function(val){  %>
            <option value="<%= val.name %>" <% if(comunity.district==val.name){ %>selected<% } %> ><%= val.name %></option>
            <% }) %>
           
          </select>
          <script>
                  $(function(){
                          $('.xingzhengqu').searchableSelect();
                  });
          </script>
        </li>
        
        <li><label>地址</label><input name="address" datatype="*"  value="<%= comunity.address %>"  type="text" class="dfinput"  /><i  class="Validform_checktip"></i></li>
        <li><label>经度</label><input name="lat" datatype="*"  value="<%= comunity.latitude %>" type="text" class="dfinput"  /><i  class="Validform_checktip"></i></li>
        <li><label>纬度</label><input name="lon" datatype="*"  value="<%= comunity.longitude %>" type="text" class="dfinput" /><i  class="Validform_checktip"></i></li>
        <li><label>商圈</label>
            <select name="CBDName" class="shangquan" >
             <% commerseAreas.forEach(function(val){  %>
            <option value="<%= val.name %>" <% if(comunity.commerseArea==val.name){ %>selected<% } %>  ><%= val.name %></option>
            <% }) %>
           
          </select>
          <script>
                  $(function(){
                          $('.shangquan').searchableSelect();
                  });
          </script>
        </li>
        <li><label>描述</label><textarea name="desc" sucmsg=" "   datatype="*"   cols="" rows="" class="textinput"><%= comunity.desc %></textarea><i  class="Validform_checktip"></i></li>
        <li><label>是否推荐</label><cite><input name="isHot"  sucmsg=" "   datatype="*"  type="radio" value="true" <% if(comunity.isHot){ %> checked="checked" <% } %>  />是&nbsp;&nbsp;&nbsp;&nbsp;<input name="isHot" type="radio" <% if(!comunity.isHot){ %> checked="checked" <% } %> value="false"  />否</cite><i  class="Validform_checktip"></i></li>
        <li><label>关键字</label><input name="keywords" value="<%= comunity.keywords %>"  sucmsg=" "   datatype="*"   value="" type="text" class="dfinput" /><i  class="Validform_checktip"></i></li>
        <li><label>图片</label><input name="imagekeys" value="<%= comunity.imagekeys %>" id="images" readonly="readonly"   type="text"  class="dfinput" value="" />&nbsp;&nbsp;&nbsp;&nbsp;<input name="pickfiles" id="pickfiles"  type="button" class="btn pickfiles" value="上传图片"/><i  class="Validform_checktip"></i></li>
        <li id="container"></li>
        <li><label>&nbsp;</label><span class="imgs">
                <% comunity.imagekeys.forEach(function(key) { %>
                <img src="http://o7k9opgtr.bkt.clouddn.com/<%= key %>"
                     width="150"
                     height="120"
                     tid="<%= key %>" >
                <% }) %>
            </span></li>
        <li><label>&nbsp;</label><input name="" type="submit" class="btn" value="确认保存"/></li>
    </ul>
    </form>
    
    </div>


</body>
<script>
$.Tipmsg.r=null;
		


$(".subform").Validform({
        tiptype:function(msg,o,cssctl){
                if(!o.obj.is("form")){//验证表单元素时o.obj为该表单元素，全部验证通过提交表单时o.obj为该表单对象;
                        var objtip=o.obj.siblings(".Validform_checktip");
                        cssctl(objtip,o.type);
                        objtip.text(msg);
                }

        },
        tipSweep:true,
        ajaxPost:true,
        beforeSubmit: function(form) {
               
                return true;
        },
        callback:function(data){
                console.log(data.msg);
                if(data.error)  //验证失败
                {
                        console.log(data.error) ;

                }
                else
                {
                       location.href='/cms/community/list';
                }
              
        }
});
</script>


<script type="text/javascript" src="/files/lib/plupload/moxie.js"></script>
<script type="text/javascript" src="/files/lib/plupload/plupload.dev.js"></script>
<script type="text/javascript" src="/files/lib/qiniu/qiniu.js"></script>
<script type="text/javascript" src="/files/lib/laydate/layer.js"></script>
<script type="text/javascript" src="/files/cms/js/upload.js"></script>
</html>




