<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="/files/cms/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/files/js/jquery-1.8.3.min.js"></script>

<script type="text/javascript" src="/files/lib/select/jquery.searchableSelect.js"></script>

<link href="/files/lib/select/jquery.searchableSelect.css" rel="stylesheet" type="text/css">
</head>

<body>

	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">首页</a></li>
  
    </ul>
    </div>
    
    <div class="formbody">
    
    <div class="formtitle"><span>基本信息</span></div>
    <form action="" class="subform"  method="post">

    <ul class="forminfo">
        <ul class="forminfo">
        <li><label>小区名称</label>
            <select name="villageName" >
             <% communities.forEach(function(val){  %>
            <option value="<%= val.name %>" <% if(apartment.comunity.name==val.name){ %>selected<% } %>><%= val.name %></option>
            <% }) %>
           
          </select>
          <script>
                  $(function(){
                          $('select').searchableSelect();
                  });
          </script>
        </li>
      
        <li><label>房号</label><input name="houseno" value="<%= apartment.houseNo %>"  datatype="*"  sucmsg=" "  type="text" class="dfinput" /><i  class="Validform_checktip"></i></li>
        <li><label>编号</label><input name="contractno" value="<%= apartment.contactNo %>"  datatype="*"  sucmsg=" "  type="text" class="dfinput" value="" /><i  class="Validform_checktip"></i></li>
       
        <li><label>面积</label><input name="structurearea"  value="<%= apartment.area %>"    datatype="*"  sucmsg=" "  type="text" class="dfinput" /><i  class="Validform_checktip"></i></li>
        <li><label>租金</label><input name="rentPerMonth"  value="<%= apartment.price %>"    datatype="*"  sucmsg=" "  type="text" class="dfinput" value="" /><i  class="Validform_checktip"></i></li>
        <li><label>房型</label><input name="shi"  value="<%= apartment.apartmentType.roomType.shi %>"    datatype="n"  sucmsg=" " style="width:50px;" type="text" class="dfinput" value="" /> 室
            <input name="ting"  value="<%= apartment.apartmentType.roomType.ting %>"    datatype="n"  sucmsg=" " style="width:50px;" type="text" class="dfinput" value="" /> 厅
            <input name="wei"  datatype="n"  value="<%= apartment.apartmentType.roomType.wei %>"   sucmsg=" " style="width:50px;" type="text" class="dfinput" value="" /> 卫 <i  class="Validform_checktip"></i></li>
      
        <li><label>地址</label><input name="address" value="<%= apartment.address %>"  datatype="*"  sucmsg=" "  type="text" class="dfinput" /><i  class="Validform_checktip"></i></li>
        <li><label>关键词</label><input name="keywords" value="<%= apartment.keywords %>" datatype="*"  sucmsg=" "  type="text" class="dfinput" value="" /><i  class="Validform_checktip">多个关键词用英文空格分开</i></li>
         <li><label>图片</label><input name="imagekey" value="<%= apartment.imagekeys %>" id="images" readonly="readonly"  type="text"  class="dfinput" value="" />&nbsp;&nbsp;&nbsp;&nbsp;<input name="pickfiles" id="pickfiles"  type="button" class="btn pickfiles" value="上传图片"/><i  class="Validform_checktip"></i></li>
        <li id="container"></li>
        <li><label>&nbsp;</label><span class="imgs"></span></li>
        <input name="id" value="<%= apartment._id %>" type="hidden" />
        <li><label>&nbsp;</label><input name="" type="submit" class="btn" value="确认保存"/></li>
    </ul>
    </form>
    
    </div>


</body>
<script type="text/javascript" src="/files/lib/Validform_v5.3.2_min.js"></script>
<script>
$.Tipmsg.r=null;
		

$(function(){
    $(".subform").Validform({
        tiptype:function(msg,o,cssctl){
                if(!o.obj.is("form")){//验证表单元素时o.obj为该表单元素，全部验证通过提交表单时o.obj为该表单对象;
                        var objtip=o.obj.siblings(".Validform_checktip");
                        cssctl(objtip,o.type);
                        objtip.text(msg);
                }
        },
        ajaxPost:true,
        beforeSubmit: function(form) {
               
                return true;
        },
        callback:function(data){
                console.log(data);
                if(data.error)
                {
                    alert(data.error);
                }
                else
                {
                    location.href='/cms/apartment/list';
                }
              
        }
    });
});



</script>
</html>
<script type="text/javascript" src="/files/lib/plupload/moxie.js"></script>
<script type="text/javascript" src="/files/lib/plupload/plupload.dev.js"></script>
<script type="text/javascript" src="/files/lib/qiniu/qiniu.js"></script>
<script type="text/javascript" src="/files/lib/laydate/layer.js"></script>
<script type="text/javascript" src="/files/cms/js/upload.js"></script>
<%= JSON.stringify(apartment) %>


