<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="/files/cms/css/style.css" rel="stylesheet" type="text/css" />
<link href="/files/cms/css/select.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/files/cms/js/jquery.js"></script>
<script type="text/javascript" src="/files/cms/js/select-ui.min.js"></script>
<script type="text/javascript" src="/files/lib/laypage/laypage.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  $(".click").click(function(){
  $(".tip").fadeIn(200);
  });
  
  $(".tiptop a").click(function(){
  $(".tip").fadeOut(200);
});

  $(".sure").click(function(){
  $(".tip").fadeOut(100);
});

  $(".cancel").click(function(){
  $(".tip").fadeOut(100);
});

});
function getUrlParam(name) {
    var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
    var r = window.location.search.substr(1).match(reg);  //匹配目标参数
    if (r != null) return unescape(r[2]); return null; //返回参数值
}
</script>


</head>


<body>

    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">首页</a></li>
            <li><a href="#">数据表</a></li>
            <li><a href="#">基本内容</a></li>
        </ul>
    </div>
    
    <div class="rightinfo">
    
        <div class="tools">

            <ul class="toolbar">
                <li class="click"><a href="/cms/apartment/add"><span><img src="/files/cms/images/t01.png" /></span>添加房源</a></li>
          
            </ul>
            <ul class="seachform">
                <form name="sousuo" action="/cms/apartment/list" method="get" />
                <li><input name="keyword" placeholder="小区" value="<%= keyword %>" type="text" class="scinput" /></li>
                <li><label>&nbsp;</label><input name="" type="submit" class="scbtn" value="查询"/></li>
                </form>
            </ul>
        </div>
        <table class="tablelist">
            <thead>
            <tr>

                <th>小区</th>
                <th>房号</th>
                <th>房型</th>
                <th>编号</th>

                <th>面积</th>
                <th>租金</th>
                <th>是否推荐</th>
              
                <th>已租</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <% apartments.docs.forEach(function(val){  %>
                <tr>

                    <td><%= val.comunity.name %></td>
                    <td><%= val.houseNo %></td>
                    <td><%= val.apartmentType.roomType.shi %>室<%= val.apartmentType.roomType.ting %>厅<%= val.apartmentType.roomType.wei %>卫</td>
                    <td><%= val.contactNo %></td>
                    <td><%= val.area %>平米</td>
                    <td><%= val.price %>元</td>
                    <td><% if(val.isHot){ %>是<% }else{ %>否<% } %></td>
                 
                    <td><% if(!val.leased){ %>未租<% }else{ %>已租<% } %></td>
                    <td><a href="/cms/apartment/update/<%= val._id %>" class="tablelink"> 修改</a></td>
                </tr> 
             <% }) ; %>   

            </tbody>
        </table>


        <div class="pagin" id="page11">
           
        </div>


        
    </div>
    
<script type="text/javascript">
    $('.tablelist tbody tr:odd').addClass('odd');
    laypage({
        cont: 'page11',
        pages: '<%= apartments.pages %>',
        curr: function(){ //通过url获取当前页，也可以同上（pages）方式获取
            var page = location.search.match(/page=(\d+)/);
            return page ? page[1] : 1;
        }(), 
        jump: function(e, first){ //触发分页后的回调
            if(!first){ //一定要加此判断，否则初始时会无限刷新
                location.href = '?page='+e.curr+"&keyword="+$('input[name="keyword"]').val();
            }
        }
    });

</script>

</body>

</html>







