<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="/files/cms/css/style.css" rel="stylesheet" type="text/css" />
<link href="/files/cms/css/select.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/files/cms/js/jquery.js"></script>
<script type="text/javascript" src="/files/cms/js/select-ui.min.js"></script>
<script type="text/javascript" src="/files/lib/laypage/laypage.js"></script>

<script type="text/javascript">
$(document).ready(function(){
  $(".click").click(function(){
  $(".tip").fadeIn(200);
  });
  
  $(".tiptop a").click(function(){
  $(".tip").fadeOut(200);
});

  $(".sure").click(function(){
  $(".tip").fadeOut(100);
});

  $(".cancel").click(function(){
  $(".tip").fadeOut(100);
});

});
</script>


</head>


<body>

    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">首页</a></li>
            <li><a href="#">数据表</a></li>
           
        </ul>
    </div>
    
    <div class="rightinfo">
    
        <div class="tools">

           
            <ul class="seachform">
                <form name="sousuo" action="/cms/orders/apartment" method="get" />
                <li><input name="keyword" placeholder="姓名/电话/订单号" type="text" value="" class="scinput" /></li>
                <li><label>&nbsp;</label><input name="" type="submit" class="scbtn" value="查询"/></li>
                </form>
            </ul>
        </div>
        <table class="tablelist">
            <thead>
            <tr>

                <th>订单编号</th>
                <th>订单创建时间</th>
                <th>预定内容</th>
                <th>房间编号</th>
                
                <th>时间</th>
                <th>预订人姓名</th>
                <th>预订人电话</th>
                <th>备注</th>
               
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <% orders.docs.forEach(function(val){  %>
                <tr>
                    <td><%= val._id %></td>
                    <td><%= val.createdAt_formatted %></td>
                    <td><%= val.apartment.apartmentType.name %></td>
                    <td><%= val.apartment.contactNo %></td>
                    <td><%= val.date_formatted %></td>
                    <td><%= val.name %></td>
                    <td><%= val.mobile %></td>
                    <td><%= val.comment %></td>
                    <td id="status-<%= val._id %>"><%= val.status %></td>
                    <td>
                        <a href="javascript:void(0)" data-id="<%= val._id %>" class="tablelink cms-apartment-order-confirm">确认</a>
                        |
                        <a href="javascript:void(0)" data-id="<%= val._id %>" class="tablelink cms-apartment-order-cancel"> 取消</a>
                    </td>
                </tr> 
             <% }) ; %>   

            </tbody>
        </table>


        <div class="pagin" id="page11">
           
        </div>


        
    </div>
    
<script type="text/javascript">
    $('.tablelist tbody tr:odd').addClass('odd');
    laypage({
        cont: 'page11',
        pages: '<%= orders.pages %>',
        curr: function(){ //通过url获取当前页，也可以同上（pages）方式获取
            var page = location.search.match(/page=(\d+)/);
            return page ? page[1] : 1;
        }(), 
        jump: function(e, first){ //触发分页后的回调
            if(!first){ //一定要加此判断，否则初始时会无限刷新
                location.href = '?page='+e.curr;
            }
        }
    });
</script>

<link type="text/css" rel="stylesheet" href="/files/lib/jqueryflash/jquery.flash.css" />
<script type="text/javascript" src="/files/lib/jqueryflash/jquery.flash.js"></script>
<script type="text/javascript" src="/files/lib/jquery.loading.min.js"></script>
<link type="text/css" rel="stylesheet" href="/files/lib/jquery.loading.min.css" />

<script type="text/javascript" src="/js/cms-orders.js"></script>

</body>

</html>



