<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/error.css">
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <% if (user) { %>
        <p>Hello, <%= user.username %>!</p>
    <% } %>

    <h2>精品房源</h2>
    <ul>
        <% for (var i = 0, len = apartments.length; i < len; i++) { %>
        <li>
            <p><%= JSON.stringify(apartments[i]) %></p>
        </li>
        <% } %>
    </ul>

    <h2>品质小区</h2>
    <ul>
        <% for (var i = 0, len = comunities.length; i < len; i++) { %>
        <li>
            <p><%= JSON.stringify(comunities[i]) %></p>
        </li>
        <% } %>
    </ul>

    <h2>日租公寓</h2>
    <ul>
        <% for (var i = 0, len = dailyRents.length; i < len; i++) { %>
        <li>
            <p><%= JSON.stringify(dailyRents[i]) %></p>
        </li>
        <% } %>
    </ul>

    <h2>more links</h2>
    <p><a href="/apartment/">apartments</a></p>
    <p><a href="/daily/">daily rents</a></p>
    <script src="/js/vendor.min.js"></script>
</body>
</html>