<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title><%= news.title %></title>

    <link type="text/css" rel="stylesheet" href="/css/style.css"/>
    <script type="text/javascript" src="/files/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/files/js/koala.min.1.5.js"></script>
</head>
<body>

<!-----头部----->
<% include header.ejs %>
<!-----头部----->
<div class="clear"></div>
<div class="location">
    <a href="/">首页</a> >
    <a href="/news/">新闻詳細</a>
</div>
<div class="n_news_main">
    <div class="n_news_main_l">
        <div class="n_news_main_m">
            <div class="title01">
                <h1><%= news.title %></h1>
                <p>来源：<%= news.source %> 作者：<%= news.author %>  <%= news.date_formatted %></p>
            </div>
            <div class="n_news_main_m01">
                <% if(news.imagekey){ %>
                <div style="margin:0 auto; width:600px; height:auto; margin-bottom:20px;"><img width="600"
                                                                                               src="http://o7k9opgtr.bkt.clouddn.com/<%= news.imagekey %>">
                </div>
                <% } %>
                <%- news.content %>
            </div>
            <div class="next">
                <% if (prevNews.length > 0) { %>
                <p>上一篇：<a href="/news/<%= prevNews[0]._id %>"><%= prevNews[0].title %></a></p>
                <% } %>
                <% if (nextNews.length > 0) { %>
                <p>下一篇：<a href="/news/<%= nextNews[0]._id %>"><%= nextNews[0].title %></a></p>
                <% } %>
            </div>
            <div class="xianguan">
                <h1>相关资讯</h1>
                <div class="xianguan_m">
                    <% latestNews.forEach(function(val) { %>
                    <p><a href="/news/<%= val._id %>"><%= val.title %></a></p>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>

    <div class="n_news_main_r">
        <!-- 代码 开始 -->
        <div id="fsD1" class="focus" style="width:368px; height:288px;">
            <div id="D1pic1" class="fPic">
                <% for (var i = 0; i < 3 && i < latestNews.length; i++) { %>
                <div class="fcon" style="display: none;">
                    <a href="/news/<%= latestNews[i]._id %>">
                        <img src="http://o7k9opgtr.bkt.clouddn.com/<%= latestNews[i].imagekey %>?imageView2/0/w/368/h/288"
                             style="width:368px; height:288px; opacity: 1;">
                    </a>
                    <span class="shadow_s">
                        <a  href="/news/<%= latestNews[i]._id %>"><%= latestNews[i].title %></a>
                    </span>
                </div>
                <% } %>
            </div>
            <div class="fbgs" >
                <div class="D1fBt" id="D1fBt">
                    <% for (var i = 0; i < 3 && i < latestNews.length; i++) { %>
                    <a href="javascript:void(0)" hidefocus="true" target="_self" class="<% if (i == 0) { %>current<% } %>" >
                        <i><%= i + 1 %></i>
                    </a>

                    <% } %>
                </div>
            </div>
            <span class="prev"></span>
            <span class="next" ></span>
        </div>
        <div class="remenfangy">
            <h1>热门房源</h1>
            <% apartmentTypes.forEach(function(val) { %>
            <a href="/apartment/type/<%= val._id %>">
                <img
                        <% if (val.imagekeys[0]) { %>
                        src="http://o7k9opgtr.bkt.clouddn.com/<%= val.imagekeys[0] %>?imageView2/0/w/328/h/219"
                        <% }else{ %>
                        src="/img/default.jpg"
                        <% } %>
                        width="328" height="219"/>
                <h2><span><%= val.name %></span></h2>
            </a>
            <p><span><%= val.roomType.shi %>室<%= val.roomType.ting %>厅<%= val.roomType.wei %>卫 | <%= val.maxArea %>平米</span>
                <em>￥<%= val.minPrice %> / 月</em></p>
            <div class="clear"></div>
            <% }) %>
        </div>
    </div>
    <span class="prev"></span>
    <script type="text/javascript">
        Qfast.add('widgets', {path: "/files/js/terminator2.2.min.js", type: "js", requires: ['fx']});
        Qfast(false, 'widgets', function () {
            K.tabs({
                id: 'fsD1',   //焦点图包裹id
                conId: "D1pic1",  //** 大图域包裹id
                tabId: "D1fBt",
                tabTn: "a",
                conCn: '.fcon', //** 大图域配置class
                auto: 1,   //自动播放 1或0
                effect: 'fade',   //效果配置
                eType: 'click', //** 鼠标事件
                pageBt: true,//是否有按钮切换页码
                bns: ['.prev', '.next'],//** 前后按钮配置class
                interval: 3000  //** 停顿时间
            })
        })
    </script>

<!-- 代码 结束 -->
<div class="clear"></div>

</div>
<div class="clear"></div>
</div>
<% include footer.ejs %>
