<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>源涞国际 - 热门房源</title>
<link type="text/css" rel="stylesheet" href="/css/style.css" />
<script type="text/javascript" src="/files/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/files/lib/Validform_v5.3.2_min.js"></script>
<% if (messages.error || messages.info) { %>
    <script type="text/javascript">
        <% if (messages.info) { %>
            $.flash(<%= messages.info %>);
        <% } %>
        <% if (messages.error) { %>
            $.flash(<%= messages.error %>);
        <% } %>
    </script>
<% } %>
</head>
<body>

<!-----头部----->
<% include header.ejs %>
<!-----头部----->
<div class="clear"></div>

<div class="location">
    <a href="/">首页</a> >
    <a href="/user/">个人中心</a>
</div>

<div class="n_main">
     <div class="zhanghao_l">
           <a  href="/user/">个人信息</a>
           <a id="zhangbao_hover" href="/user/orders">我的订单</a>
     </div>
     <div class="zhanghao_r">
          <h1>长租带看预约</h1>
          <div class="zhanghao_r_m01">
                 <h2>
                     <em>订单编号</em>
                     <em>订单创建时间</em>
                     <em>电话</em>
                     <em>时间</em>
                     <em style="border:0;">状态</em>
                 </h2>
                 <div class="clear"></div>
				  <% apartmentOrders.forEach(function(val) { %>
                 <p>
                    <em><%= val._id %></em>
                    <em><%= val.comment %></em>
                    <em><%= val.mobile %></em>
                    <em><%= val.name %></em>
                    <em style="border:0;"><%= val.status %></em>
                 </p>
				 <% }) %>
                
          </div>
		  <h1>长租带看预约</h1>
          <div class="zhanghao_r_m01">
                 <h2>
                     <em>订单编号</em>
                     <em>订单创建时间</em>
                     <em>约定内容</em>
                     <em>时间</em>
                     <em style="border:0;">状态</em>
                 </h2>
                 <div class="clear"></div>
                 <% dailyOrders.forEach(function(val) { %>
                 <p>
                    <em><%= val._id %></em>
                    <em><%= val.comment %></em>
                    <em><%= val.mobile %></em>
                    <em><%= val.name %></em>
                    <em style="border:0;"><%= val.status %></em>
                 </p>
				 <% }) %>
          </div>
          
     </div>
  <div class="clear"></div>
</div>
<% include footer.ejs %>

