<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>源涞国际 - 热门房源</title>
<link type="text/css" rel="stylesheet" href="/css/style.css" />
<script type="text/javascript" src="/files/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/files/lib/Validform_v5.3.2_min.js"></script>

</head>
<body>

<!-----头部----->
<% include header.ejs %>
<!-----头部----->
<div class="clear"></div>

<div class="location">
    <a href="/">首页</a> >
    <a href="/user/">个人中心</a>
</div>
<div class="n_main">
     <div class="zhanghao_l">
           <a id="zhangbao_hover" href="/user/">个人信息</a>
           <a href="/user/orders/">我的订单</a>
     </div>
     <div class="zhanghao_r">
          <h1>您好，<%= user.name %> ！</h1>
          <form id="userinfo" name="userinfo" class="userinfo" action="/user/password" method="post">
          <div class="zhanghao_r_m">
               <p>基础信息</p>
               <p><span  class="mima" >手机：</span><span class="xiugai"><%= user.username %></span><span class="xiugai hide"><input type="text" name="username" value="" class="input" ></span></p>
               <p>邮箱：<%= user.email %></p>
			   <p>姓名：<%= user.name %></p>
               <p class="editpas">
                   <span class="mima">密码：</span>
                   <span class="xiugai"><a href="javascript:void(0);" class="editpasa">修改</a></span>
               </p>
               <p class="oldpas editpaslist"><span  class="mima" >原始密码：</span><span class="xiugai "><input type="password" name="oldpassword"  datatype="*" value="" class="input" ></span></p>
               
                <p class="newpas editpaslist"> <span  class="mima" >新密码：&nbsp;&nbsp;&nbsp;</span><span class="xiugai "><input type="password" datatype="*"   name="password" value="" class="input" ></span></p>
                 <p class="newpas2 editpaslist"><span  class="mima" >确认密码：</span><span class="xiugai "><input type="password" name="password2" datatype="*" recheck="password" value="" class="input" ></span></p>
                 <p class="editpaslist">
              
                   <span class="xiugai"><input class="submit" style="width:100px;" type="submit" name="submit" value="提交" ></span>
               </p>
          </div>
        </form>
          <% if (user.isCrop) { %>
            <form id="corpinfo" name="corpinfo" class="corpinfo" action="/user/update" method="post">
              <div class="zhanghao_r_m">
                  <p>
                      <span class="mima" style="font-weight:bold; font-size:18px;">企业信息</span>
                      <span class="xiugai" style="float:right; margin:0 30px 0 0;">
                          <a href="javascript:void(0);" class="editcrop">修改</a>
                      </span>
                  </p>
                  
                  <p><span  class="mima" >公司：</span><span class="xiugai nocropedit"><%= user.corpName %></span><span class="xiugai cropedit hide"><input type="text" datatype="*" name="corpName" value="<%= user.corpName %>" class="input" ></span></p>
                  <p><span  class="mima" >职位：</span><span class="xiugai nocropedit"><%= user.title %></span><span class="xiugai cropedit hide"><input type="text" datatype="*" name="title" value="<%= user.title %>" class="input" ></span></p>
                  <p><span  class="mima" >地址：</span><span class="xiugai nocropedit"><%= user.Address %></span><span class="xiugai cropedit hide"><input type="text" datatype="*" name="Address" value="<%= user.Address %>" class="input" ></span></p>
                  <p><span  class="mima" >电话：</span><span class="xiugai nocropedit"><%= user.tel %></span><span class="xiugai cropedit hide"><input type="text" datatype="*" name="tel" value="<%= user.tel %>" class="input" ></span></p>
                  <p class="cropedit hide">
                      <span class="xiugai">
                          <input class="submit" style="width:100px;" type="submit" name="submit" value="确认修改" >
                      </span>
                  </p>
              </div>
            </form>
          <% } %>
     </div>
  <div class="clear"></div>
</div>
<% include footer.ejs %>
<script>
$(function(){
	
    $.Tipmsg.r=null;

    var showmsg=function(msg){
            alert(msg);
    }

    $(".userinfo").Validform({
            tiptype:function(msg){
                    showmsg(msg);
            },
            tipSweep:true,
            ajaxPost:true,
            callback:function(data){
                console.log(data);
            }
    });
    $(document).on("click",".editpasa",function(e){
        
        $(".editpas").hide();
        $(".editpaslist").show();
    });
    $(document).on("click",".editcrop",function(e){
        
        $(".nocropedit").hide();
        $(".cropedit").show();
    });
    $(".corpinfo").Validform({
            tiptype:function(msg,o,cssctl){
					if(!o.obj.is("form")){
						showmsg(msg);
					}
            },
            tipSweep:true,
            ajaxPost:true,
            callback:function(data){
                console.log(data);
            }
    });
})
</script>

<link type="text/css" rel="stylesheet" href="/files/lib/jquery-flash/jquery.flash.css" />
<script type="text/javascript" src="/files/lib/jquery-flash/jquery.flash.js"></script>
<script type="text/javascript">
$(function() {
    <% if (messages.error || messages.info) { %>
        <% if (messages.info) { %>
            $.flash("<%= messages.info %>");
        <% } %>
        <% if (messages.error) { %>
            $.flash("<%= messages.error %>");
        <% } %>
    <% } %>
});
</script>